@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src:
		local('Raleway'),
		local('Raleway-Regular'),
		/* from https://fonts.gstatic.com/s/raleway/v11/JDau3G46nqY5-B-S9E_nwg.eot */
		url('Raleway_400.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/raleway/v11/IczWvq5y_Cwwv_rBjOtT0w.woff */
		url('Raleway_400.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/raleway/v11/0dTEPzkLWceF7z0koJaX1A.woff2 */
		url('Raleway_400.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=IP_NSg73bUZGuyb3zF6qcQ&skey=30a27f2564731c64&v=v11#Raleway */
		url('Raleway_400.svg#Raleway') format('svg'),
		/* from https://fonts.gstatic.com/s/raleway/v11/bIcY3_3JNqUVRAQQRNVteQ.ttf */
		url('Raleway_400.ttf') format('truetype');
}
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	src:
		local('Raleway Bold'),
		local('Raleway-Bold'),
		/* from https://fonts.gstatic.com/s/raleway/v11/JbtMzqLaYbbbCL9X6EvaI1QlYEbsez9cZjKsNMjLOwM.eot */
		url('Raleway_700.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/raleway/v11/JbtMzqLaYbbbCL9X6EvaIxsxEYwM7FgeyaSgU71cLG0.woff */
		url('Raleway_700.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/raleway/v11/JbtMzqLaYbbbCL9X6EvaI_k_vArhqVIZ0nv9q090hN8.woff2 */
		url('Raleway_700.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=JbtMzqLaYbbbCL9X6EvaI6WUboTb-jS2tyCOQMtm97g&skey=e507c3e2b7915ad1&v=v11#Raleway */
		url('Raleway_700.svg#Raleway') format('svg'),
		/* from https://fonts.gstatic.com/s/raleway/v11/JbtMzqLaYbbbCL9X6EvaIy3USBnSvpkopQaUR-2r7iU.ttf */
		url('Raleway_700.ttf') format('truetype');
}
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 900;
	src:
		local('Raleway Black'),
		local('Raleway-Black'),
		/* from https://fonts.gstatic.com/s/raleway/v11/PKCRbVvRfd5n7BTjtGiFZFQlYEbsez9cZjKsNMjLOwM.eot */
		url('Raleway_900.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/raleway/v11/PKCRbVvRfd5n7BTjtGiFZBsxEYwM7FgeyaSgU71cLG0.woff */
		url('Raleway_900.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/raleway/v11/PKCRbVvRfd5n7BTjtGiFZPk_vArhqVIZ0nv9q090hN8.woff2 */
		url('Raleway_900.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=PKCRbVvRfd5n7BTjtGiFZKWUboTb-jS2tyCOQMtm97g&skey=9f97eed2e89af09d&v=v11#Raleway */
		url('Raleway_900.svg#Raleway') format('svg'),
		/* from https://fonts.gstatic.com/s/raleway/v11/PKCRbVvRfd5n7BTjtGiFZC3USBnSvpkopQaUR-2r7iU.ttf */
		url('Raleway_900.ttf') format('truetype');
}
@font-face {
	font-family: 'Raleway';
	font-style: italic;
	font-weight: 400;
	src:
		local('Raleway Italic'),
		local('Raleway-Italic'),
		/* from https://fonts.gstatic.com/s/raleway/v11/IIm-lPOtfVKQy0GMiczF__Y6323mHUZFJMgTvxaG2iE.eot */
		url('Raleway_400italic.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/raleway/v11/IIm-lPOtfVKQy0GMiczF_z8E0i7KZn-EPnyo3HZu7kw.woff */
		url('Raleway_400italic.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/raleway/v11/IIm-lPOtfVKQy0GMiczF_1tXRa8TVwTICgirnJhmVJw.woff2 */
		url('Raleway_400italic.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=IIm-lPOtfVKQy0GMiczF_5bd9NUM7myrQQz30yPaGQ4&skey=bf44ee29381a37b0&v=v11#Raleway */
		url('Raleway_400italic.svg#Raleway') format('svg'),
		/* from https://fonts.gstatic.com/s/raleway/v11/IIm-lPOtfVKQy0GMiczF_6CWcynf_cDxXwCLxiixG1c.ttf */
		url('Raleway_400italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Raleway';
	font-style: italic;
	font-weight: 700;
	src:
		local('Raleway Bold Italic'),
		local('Raleway-BoldItalic'),
		/* from https://fonts.gstatic.com/s/raleway/v11/lFxvRPuGFG5ktd7P0WRwKnZ2MAKAc2x4R1uOSeegc5U.eot */
		url('Raleway_700italic.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/raleway/v11/lFxvRPuGFG5ktd7P0WRwKnhCUOGz7vYGh680lGh-uXM.woff */
		url('Raleway_700italic.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/raleway/v11/lFxvRPuGFG5ktd7P0WRwKugdm0LZdjqr5-oayXSOefg.woff2 */
		url('Raleway_700italic.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=lFxvRPuGFG5ktd7P0WRwKllIn5tFQcqMuf-jhyJP0ps&skey=9ecf9384a6d643b6&v=v11#Raleway */
		url('Raleway_700italic.svg#Raleway') format('svg'),
		/* from https://fonts.gstatic.com/s/raleway/v11/lFxvRPuGFG5ktd7P0WRwKonF5uFdDttMLvmWuJdhhgs.ttf */
		url('Raleway_700italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Raleway';
	font-style: italic;
	font-weight: 900;
	src:
		local('Raleway Black Italic'),
		local('Raleway-BlackItalic'),
		/* from https://fonts.gstatic.com/s/raleway/v11/oY2RadnkHfshu5f0FLsgVXZ2MAKAc2x4R1uOSeegc5U.eot */
		url('Raleway_900italic.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/raleway/v11/oY2RadnkHfshu5f0FLsgVXhCUOGz7vYGh680lGh-uXM.woff */
		url('Raleway_900italic.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/raleway/v11/oY2RadnkHfshu5f0FLsgVegdm0LZdjqr5-oayXSOefg.woff2 */
		url('Raleway_900italic.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=oY2RadnkHfshu5f0FLsgVVlIn5tFQcqMuf-jhyJP0ps&skey=32121ddc7056992b&v=v11#Raleway */
		url('Raleway_900italic.svg#Raleway') format('svg'),
		/* from https://fonts.gstatic.com/s/raleway/v11/oY2RadnkHfshu5f0FLsgVYnF5uFdDttMLvmWuJdhhgs.ttf */
		url('Raleway_900italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src:
		local('Lato Regular'),
		local('Lato-Regular'),
		/* from https://fonts.gstatic.com/s/lato/v13/nQhiC-wSiJx0pvEuJl8d8A.eot */
		url('Lato_400.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/lato/v13/9k-RPmcnxYEPm8CNFsH2gg.woff */
		url('Lato_400.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/lato/v13/1YwB1sO8YE1Lyjf12WNiUA.woff2 */
		url('Lato_400.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=hLECvlEj3pKlnS4NFs8NQw&skey=2d58b92a99e1c086&v=v13#Lato */
		url('Lato_400.svg#Lato') format('svg'),
		/* from https://fonts.gstatic.com/s/lato/v13/v0SdcGFAl2aezM9Vq_aFTQ.ttf */
		url('Lato_400.ttf') format('truetype');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 900;
	src:
		local('Lato Black'),
		local('Lato-Black'),
		/* from https://fonts.gstatic.com/s/lato/v13/BjDVcwQGWPX2RAidnkd0Bw.eot */
		url('Lato_900.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/lato/v13/BVtM30trf7q_jfqYeHfjtA.woff */
		url('Lato_900.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/lato/v13/tI4j516nok_GrVf4dhunkg.woff2 */
		url('Lato_900.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=UxBsysUD4pfKXRb0IKmcRQ&skey=d01acf708cb3b73b&v=v13#Lato */
		url('Lato_900.svg#Lato') format('svg'),
		/* from https://fonts.gstatic.com/s/lato/v13/4cKlrioa77J2iqTqBgkRWg.ttf */
		url('Lato_900.ttf') format('truetype');
}
@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 400;
	src:
		local('Lato Italic'),
		local('Lato-Italic'),
		/* from https://fonts.gstatic.com/s/lato/v13/bjaQ6jyWa8A2XFrSKceJyA.eot */
		url('Lato_400italic.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/lato/v13/oUan5VrEkpzIazlUe5ieaA.woff */
		url('Lato_400italic.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/lato/v13/PLygLKRVCQnA5fhu3qk5fQ.woff2 */
		url('Lato_400italic.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=sbmVKhXgM5wMsElf_vy3Iw&skey=51512958f8cff7a8&v=v13#Lato */
		url('Lato_400italic.svg#Lato') format('svg'),
		/* from https://fonts.gstatic.com/s/lato/v13/LqowQDslGv4DmUBAfWa2Vw.ttf */
		url('Lato_400italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 900;
	src:
		local('Lato Black Italic'),
		local('Lato-BlackItalic'),
		/* from https://fonts.gstatic.com/s/lato/v13/VNUH7ZAcagYBWsAiBBCEY_Y6323mHUZFJMgTvxaG2iE.eot */
		url('Lato_900italic.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/lato/v13/VNUH7ZAcagYBWsAiBBCEYz8E0i7KZn-EPnyo3HZu7kw.woff */
		url('Lato_900italic.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/lato/v13/VNUH7ZAcagYBWsAiBBCEY1tXRa8TVwTICgirnJhmVJw.woff2 */
		url('Lato_900italic.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=VNUH7ZAcagYBWsAiBBCEY5bd9NUM7myrQQz30yPaGQ4&skey=4066143815f8bfc2&v=v13#Lato */
		url('Lato_900italic.svg#Lato') format('svg'),
		/* from https://fonts.gstatic.com/s/lato/v13/VNUH7ZAcagYBWsAiBBCEY6CWcynf_cDxXwCLxiixG1c.ttf */
		url('Lato_900italic.ttf') format('truetype');
}
