celery
Django<1.12
djangorestframework
django-widget-tweaks
dnspython
geoip2
msgpack-python
Pillow
psycopg2 # required on slaves without db access as well due to django.contrib.postgres imports in models
redis
tldextract
toposort
url_normalize
adblockparser
