html {
    position: relative;
    min-height: 100%;
}

body {
    color: #384452;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-bottom:230px; /* for footer */
}

h2 {
    padding-top:15px;
}

.row-equal-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.navbar {
    min-height: 70px;
    padding-top: 10px;
    margin-bottom: 0;
}

.navbar-default {
    background-color: rgb(255, 255, 255);
    border-color: transparent;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.navbar-default .navbar-nav > li > a:hover {
    color: #00b3fe;
}

.navbar-default .navbar-nav > li > a {
    color: #333;
    font-weight: 700;
    font-size: 12px;
}

.navbar li a {
    text-transform: uppercase;
}

.navbar li.active a {
    background:transparent !important;
}

.navbar-brand {
    margin: 0;
    padding: 0;
}

.navbar-brand img {
    max-height: 50px;
}


.navbar h1 {
	display: inline;
	font-family: "Raleway", sans-serif;
	font-size: 1.4em;
	font-weight: 900;
	line-height: 50px;
    padding-left: 15px;
    text-transform: uppercase;
}

.navbar h1 a, .navbar h1 a:hover, .navbar h1 a:active {
    color:#333;
    text-decoration: none;
}

.navbar-pad {
    margin-top:70px;
}

/* start page */
.well {
    background:#2c3e50;
    text-align:center;
    padding:10px 0 50px 0;
    color:#fff;
}

.well h2 {
    color:#18bc9c;
    font-size:40px;
    font-weight:700;
    font-family: "Raleway", sans-serif;
}

.well-form {
    width:500px;
    margin:0 auto;
}

.btn-well {
    width:100%;
    margin:10px 0 15px 0;
}

.btn-scan {
    color:#000;
    text-transform: uppercase;
}

.scan-single {
    margin:15px 0 0 0;
}

.scan-separator {
    color:#ccc;
}

/*
 * Spotlights
 */

.spotlight-container {
    text-align:center;
}

.spotlight-container-outer {
    float: right;
    position: relative;
    left: -50%;
}

.spotlight-container-inner {
    position: relative;
    left: 50%;
}

.spotlight {
    width:250px;
    float:left;
    margin-right:15px;
    height:350px;
}

.spotlight-img {
    position:relative;
}

.spotlight-img img {
    width:100%;
}

.spotlight-bg {
    position:absolute;
    bottom:0;
    background:#000;
    width:100%;
    opacity:0.7;
    padding:10px 5px 10px 5px;
}

.spotlight-bg-own {
    /* background:#2c3e50; */
    background:#337ab7;
    opacity:0.85;
}

/* this is an hack to reserve space */
.spotlight-bg span {
    visibility: hidden;
    font-size:18px;
    font-weight:bold;
}

a.spotlight-caption {
    position:absolute;
    bottom:0;
    width:100%;
    color:#fff;
    font-size:18px;
    padding:10px 5px 10px 5px;
    font-weight:bold;
    display:block;
    text-decoration:none;
}

.spotlight-clearfix {
    height:20px;
    clear:both;
}

/*
 * Footer
 */

.footer {
    padding:10px 0 10px 0;
    background: #384452;
    color:#ddd;
    height:230px;
    position:absolute;
    bottom:0;
    width:100%;
}

.footer h3 {
    border-bottom:2px solid #ddd;
    font-size:18px;
}

.footer .imprint {
    text-align:right;
}

.footer .imprint a {
    color:#ccc;
}


/*
 * New scan list
 */

.group-box {
    border:3px solid #ccc;
    padding:30px;
}

.list-description {
    width:100%;
    box-sizing: border-box;
}