- hosts: all
  become: true
  become_user: root
  vars:
    ansible_ssh_pipelining: yes
  tasks:
    - name: Refresh git repository
      become: yes
      become_user: privacyscore
      git:
        repo: gogs@svs.informatik.uni-hamburg.de:svs/privacyscore.git
        dest: /opt/privacyscore
        version: master
    - name: Update settings
      blockinfile:
        path: /opt/privacyscore/privacyscore/settings.py
        block: |
          LOGIN_REDIRECT_URL = '/'
          LOGOUT_REDIRECT_URL = '/'

          from kombu import Exchange, Queue
          CELERY_TIMEZONE = TIME_ZONE
          CELERY_TASK_SERIALIZER = 'msgpack'
          CELERY_RESULT_SERIALIZER = 'msgpack'
          CELERY_ACCEPT_CONTENT = ['msgpack']
          CELERY_BROKER_URL = 'amqp://privacyscore:{{ lookup('passwordstore', 'svs/svs-ps01/rabbitmq/privacyscore') }}@134.100.14.111:5672//'
          CELERY_RESULT_BACKEND = 'redis://134.100.14.111:6379/0'
          CELERY_DEFAULT_QUEUE = 'master'
          CELERY_QUEUES = (
              Queue('master', Exchange('master'), routing_key='master'),
              Queue('slave', Exchange('slave'), routing_key='slave'),
          )


          from datetime import timedelta
          SCAN_REQUIRED_TIME_BEFORE_NEXT_SCAN = timedelta(minutes=28)
          SCAN_SUITE_TIMEOUT_SECONDS = 200
          SCAN_TOTAL_TIMEOUT = timedelta(hours=2)
          SCAN_TEST_BASEPATH = os.path.join(BASE_DIR, 'tests')
          SCAN_LISTS_PER_PAGE = 30

          # The base modules containing the test suites. You usually do not want to
          # change this.
          TEST_SUITES_BASEMODULES = [
              'privacyscore.test_suites',
          ]

          # The list of the test names to use. Test names may not be used multiple times.
          # See the example test suite for documentation of the test module interface.
          SCAN_TEST_SUITES = [
              ('network', {
                  'country_database_path': os.path.join(
                      SCAN_TEST_BASEPATH, 'vendor/geoip/GeoLite2-Country.mmdb'),
              }),
              ('openwpm', {
                  'scan_basedir': '/tmp/openwpm-scans',
                  'virtualenv_path': os.path.join(BASE_DIR, 'tests/vendor/OpenWPM/.pyenv'),
              }),
              ('serverleak', {}),
              ('testssl_https', {}),
              ('testssl_mx', {
                {% if testssl_mx_remote_host %}
                'remote_host': '{{ testssl_mx_remote_host }}',
                {% endif %}
              }),
          ]

          RAW_DATA_DB_MAX_SIZE = 4000
          RAW_DATA_DIR = os.path.join(BASE_DIR, 'raw_data')

          SCAN_LISTS_PER_PAGE = 30

          INSTALLED_APPS.append('raven.contrib.django.raven_compat')

          import raven

          RAVEN_CONFIG = {
              'dsn': 'https://{{ lookup('passwordstore', 'privacyscore.org/sentry') }}@sentry.mafiasi.de/16',
              # If you are using git, you can also automatically configure the
              # release based on the git info.
              'release': raven.fetch_git_sha('/opt/privacyscore'),
          }
    - name: Install pip requirements
      become: yes
      become_user: privacyscore
      pip:
        requirements: /opt/privacyscore/requirements.txt
      environment:
        PATH: /opt/privacyscore/.pyenv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
        VIRTUAL_ENV: /opt/privacyscore/.pyenv
    - name: Install raven
      become: yes
      become_user: privacyscore
      pip:
        name: raven
      environment:
        PATH: /opt/privacyscore/.pyenv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
        VIRTUAL_ENV: /opt/privacyscore/.pyenv
    - name: Migrate database
      when: is_master
      become: yes
      become_user: privacyscore
      command: /opt/privacyscore/manage.py migrate
      environment:
        PATH: /opt/privacyscore/.pyenv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
        VIRTUAL_ENV: /opt/privacyscore/.pyenv
    - name: Collect static files
      when: is_master
      become: yes
      become_user: privacyscore
      command: /opt/privacyscore/manage.py collectstatic --no-input
      environment:
        PATH: /opt/privacyscore/.pyenv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
        VIRTUAL_ENV: /opt/privacyscore/.pyenv
    - name: Restart privacyscore.service
      when: is_master
      service: name=privacyscore state=restarted
    - name: Restart privacyscore-celery-master.service
      when: is_master
      service: name=privacyscore-celery-master state=restarted
    - name: Restart privacyscore-celery-slave.service
      when: is_slave
      service: name=privacyscore-celery-slave state=restarted
    - name: Refresh vendor/testssl
      when: is_slave
      become: yes
      become_user: privacyscore
      git:
        repo: https://github.com/drwetter/testssl.sh.git
        dest: /opt/privacyscore/tests/vendor/testssl.sh
        version: HEAD
    - name: Refresh vendor/OpenWPM
      when: is_slave
      become: yes
      become_user: privacyscore
      git:
        repo: https://github.com/citp/OpenWPM
        dest: /opt/privacyscore/tests/vendor/OpenWPM
        version: HEAD
    - name: Create vendor/EasyList if it does not exist
      file:
        path: /opt/privacyscore/tests/vendor/EasyList/
        owner: privacyscore
        group: privacyscore
        mode: 0700
        state: directory
    - name: Download EasyList
      get_url:
        url: https://easylist.to/easylist/easylist.txt
        owner: privacyscore
        group: privacyscore
        dest: /opt/privacyscore/tests/vendor/EasyList/easylist.txt
    - name: Download EasyPrivacy
      get_url:
        url: https://easylist.to/easylist/easyprivacy.txt
        owner: privacyscore
        group: privacyscore
        dest: /opt/privacyscore/tests/vendor/EasyList/easyprivacy.txt
    - name: Download Fanboy Anti-Social-Media
      get_url:
        url: https://easylist.to/easylist/fanboy-annoyance.txt
        owner: privacyscore
        group: privacyscore
        dest: /opt/privacyscore/tests/vendor/EasyList/fanboy-annoyance.txt
    - name: Create vendor/HSTSPreload if it does not exist
      file:
        path: /opt/privacyscore/tests/vendor/HSTSPreload/
        owner: privacyscore
        group: privacyscore
        mode: 0700
        state: directory
    - name: Download HSTS Preload lists
      shell: wget https://chromium.googlesource.com/chromium/src/net/+/master/http/transport_security_state_static.json?format=TEXT -O - | base64 -d | egrep -v "^([ ]*\/\/|$)" > "/opt/privacyscore/tests/vendor/HSTSPreload/transport_security_state_static"
      args:
        executable: /bin/bash
