{% load static %}{% load i18n %}<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="icon" type="image/png" href="{% static 'frontend/img/favicon.png' %}">

    <link rel="stylesheet" href="{% static 'frontend/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'frontend/css/dataTables.bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'frontend/css/style.css' %}" />
    {% block additional_css %}
    {% endblock additional_css %}
  </head>
  <body>
    {% block header %}
  <nav class="navbar navbar-default navbar-fixed-top">
	<div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="bannerLink" class="navbar-brand" href="/"><img src="{% static 'frontend/img/banner.png' %}" alt="PrivacyScore" /></a>
    </div>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav" id="navbar">
			<li style="display:none;"><a href="/">Start <span class="sr-only">(current)</span></a></li>
      <li><a href="{% url 'frontend:browse' %}">{% trans 'Browse' %}</a></li>
      <li><a href="{% url 'frontend:scan_list' %}">{% trans 'Create list' %}</a></li>
      <li><a href="{% url 'frontend:scan_list' %}?edit=true">{% trans 'Edit list' %}</a></li>
      {% if request.user.is_authenticated %}
        <li><a href="{% url 'frontend:logout' %}?next={{ request.get_full_path }}">{% trans 'Logout' %}</a></li>
      {% else %}
        <li><a href="{% url 'frontend:login' %}?next={{ request.get_full_path }}">{% trans 'Login' %}</a></li>
      {% endif %}
      <li style="display:none;"><a href="{% url 'frontend:info' %}">Info</a></li>
      <li style="display:none;"><a href="{% url 'frontend:contact' %}">Kontakt</a></li>
		</ul>
	</div>
	</nav>
    {% endblock header %}

    <div class="container" style="margin-top: 7em; margin-bottom: 4em;">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}

      {% block content %}
      {% endblock content %}
    </div>

    {% block footer %}
      <footer style="display:block;" id="footer">
        <footercontent>
          
          <ul class="footernavigation">
          <li><a href="/">Start</a></li>
          <li><a href="{% url 'frontend:contact' %}">Kontakt</a></li>
          <li><a href="{% url 'frontend:info' %}">Info</a></li>
          <li><a href="{% url 'frontend:legal' %}">Impressum</a></li>
          
          </ul>
        </footercontent>
      </footer>
    {% endblock footer %}

    <script src="{% static 'frontend/js/jquery-3.1.1.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'frontend/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'frontend/js/jquery-ui.js' %}" type="text/javascript"></script>
    <script src="{% static 'frontend/js/dataTables.bootstrap.js' %}" type="text/javascript"></script>
    <script src="{% static 'frontend/js/jquery.dataTables.js' %}" type="text/javascript"></script>
    <script src="{% static 'frontend/js/script.js' %}" type="text/javascript"></script>
    <script src="{% static 'frontend/js/datatables.responsive.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'frontend/js/dataTables.buttons.js' %}" type="text/javascript"></script>
    {% block additional_js %}
    {% endblock additional_js %}
  </body>
</html>
