{% load static %}
{% load i18n %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <title>{% block title %}{% endblock title %} - PrivacyScore</title>
    <link rel="icon" type="image/png" href="{% static 'frontend/img/favicon.png' %}">

    <link rel="stylesheet" href="{% static 'frontend/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'frontend/css/font-awesome.min.css' %}" />
      <link rel="stylesheet" href="{% static 'frontend/css/privacyscore.css' %}" />
      <link rel="stylesheet" href="{% static 'frontend/fonts/font.css' %}" />
    {% block additional_css %}
    {% endblock additional_css %}
  </head>
  <body>
    {% block header %}
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'frontend:index' %}">
                    <img src="{% static 'frontend/img/privacy-score-plain.svg' %}">
                </a>
                <h1><a href="{% url 'frontend:index' %}">PrivacyScore &nbsp;<span style="color:silver; font-weight:700">BETA</span></a>
                    
                </h1>
            </div>
            <div class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
<!--
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">LISTS <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'frontend:browse' %}">Browse Existing Lists</a></li>
                            <li><a href="{% url 'frontend:scan_list' %}">Create a New List</a></li>
                            <li><a href="#">Edit Your Lists</a></li>
                        </ul>
                    </li>
-->
                    <li><a href="{% url 'frontend:browse' %}">Lists</a></li>
<!--                    <li><a href="{% url 'frontend:checks' %}">Checks</a></li> -->
<!--                    <li><a href="{% url 'frontend:roadmap' %}">Roadmap</a></li> -->
                    <li><a href="{% url 'frontend:code' %}">Code</a></li>
                    <li><a href="{% url 'frontend:team' %}">Team</a></li>
                    <li><a href="{% url 'frontend:faq' %}">FAQ</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <div class="navbar-pad"></div>
    {% endblock header %}

    {% block fullcontent %}
    <div class="container">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
      
      <div class="alert alert-danger text-center"><strong>Alert: Faulty Results!</strong> Some checks (NoTrack and EncWeb) are failing silently at the moment (status as of 09-06-17 @ 13:30).</div>
      
      {% block content %}
      {% endblock content %}
    </div>
    {% endblock fullcontent %}

    {% block footer %}
    
    
    <div style="height:150px" class="visible-xs visible-sm"><!-- more space before the footer needed --></div>
    
    <div class="footer">

    {% if "/site/" in request.path %}
    <div class="text-center">All times are shown in UTC (GMT+0).</div>
    {% elif "/list/" in request.path %}
    <div class="text-center">All times are shown in UTC (GMT+0).</div>
    {% endif %}
    
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3>{% trans 'About' %}</h3>
                    <p>
                    {% trans "PrivacyScore is a website scanning tool that allows anyone to benchmark security and privacy features of websites." %}
                    {% trans "Rankings are public and can be configured to one's preferences." %}
                    {% trans "PrivacyScore helps users, activists, and data protection authorities." %}
                    </p>
                </div>
                <div class="col-md-4">
                    <h3>{% trans 'Feedback' %}</h3>
                    {% trans "We are curious to receive your feedback." %}
                    {% trans "Please do not hesitate to contact us if you observe any errors." %}
                    {% trans "Site owners can request to exclude their sites from future scans." %}
                </div>
                <div class="col-md-4">
                    <h3>{% trans 'Beta Status' %}</h3>
                    {% trans "PrivacyScore is currently in public beta." %}
                    {% trans "While we're giving our very best, we currently cannot guarantee the accuracy of the displayed results and rankings." %}
                </div>
            </div>

            <div class="spacer"></spacer>

            <div class="row">
                <div class="col-xs-4"></div>
                <div class="col-xs-4 text-center">
                    <a href="https://twitter.com/privascore" style="padding-left: 40px;"><i class="fa fa-lg fa-twitter" style="color:white"></i></a> &nbsp; <a href="mailto:privacyscore@mailhost.informatik.uni-hamburg.de"><i class="fa fa-lg fa-envelope" style="color:white"></i>
                </div>
                
                <div class="col-xs-4 text-right">
                    <p style="font-size:90%;">
                        <a style="color: #ddd" href="{% url 'frontend:imprint' %}">Imprint / Impressum</a>
                    </p>
                </div>
            </div>

        </div>
    </div>
    {% endblock footer %}

    <script src="{% static 'frontend/js/jquery-3.1.1.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'frontend/js/bootstrap.min.js' %}" type="text/javascript"></script>
    {% block additional_js %}
    {% endblock additional_js %}
  </body>
</html>
