{% extends 'frontend/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Browse Lists{% endblock title %}

{% block additional_css %}
	<style>
		.newPopular {
			cursor: pointer;
		}
		a {
			color: black;
			text-decoration: none;
		}
		a:hover {
			color: black;
		}
	</style>
{% endblock additional_css %}

{% block content %}

<h2>{% trans 'Browse Lists' %}</h2>


                <form method="get" action="{{ request.path }}">
                    <div class="input-group scan-single">
                        <input style="margin-top:5px;" type="text" id="search" name="search" class="form-control" placeholder="{% trans 'Search in list descriptions and tags' %}" {% if search %}value="{{ search }}"{% endif %} />
                        <span class="input-group-btn">
                            <button class="btn btn-secondary btn-scan" type="submit">{% trans 'Search' %}</button>
                        </span>
                    </div>
                </form>


<div class="row">
    <div class="col-sm-6">
        <form method="get" action="{{ request.path }}" class="form">
          <div class="form-group">
              <div class="row">
                <div class="col-md-8">
                  <input style="margin-top:5px;" type="text" id="search" name="search" class="form-control" placeholder="{% trans 'Search in list descriptions and tags' %}" {% if search %}value="{{ search }}"{% endif %} />
              </div>
              <div class="col-md-4">
                <button type="submit" class="btn btn-default" role="button">{% trans 'Search' %}</button>
              </div>
            </div>
          </div>
        </form>
    </div>    
    <div class="col-sm-6 pull-right">
        <a class="btn btn-primary" href="{% url 'frontend:scan_list' %}">Create a new list</a>
    </div>
</div>



  
    
    
    {% for scan_list in scan_lists %}
      <div class="well well-lg" style="display:block;list-style-type: none">
        <h4>
          <a href="{% url 'frontend:view_scan_list' scan_list.pk %}">
            {{ scan_list.name }}
            <i class="fa fa-arrow-circle-o-right"></i>
          </a>
          <span style="float:right;">
            <span class="glyphicon glyphicon-time" data-toggle="tooltip" title="{% trans 'Scan Date' %}"></span>
            {{ scan_list.last_scan_datetime|date:"j.n.Y H:i" }}
          </span>
        </h4>
        <div style="margin-top:10px;">
          <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="{% trans 'Description' %}"></span>
          {{ scan_list.description }}
        </div>
        <div style="margin-top:10px;">
          <span class="glyphicon glyphicon-tags" data-toggle="tooltip" title="{% trans 'Tags' %}"></span>
          {{ scan_list.tags_as_str }}
        </div>
      </div>
    {% endfor %}

    <div class="pagination">
      <span class="step-links">
        {% if scan_lists.has_previous %}
          <a href="?page={{ scan_lists.previous_page_number }}{% if search %}&amp;search={{ search }}{% endif %}">{% trans 'previous' %}</a>
        {% endif %}

        <span class="current">
          {% blocktrans with page=scan_lists.number pages=scan_lists.paginator.num_pages %}
            Page {{ page }} of {{ pages }}.
            {% endblocktrans %}
        </span>

        {% if scan_lists.has_next %}
        <a href="?page={{ scan_lists.next_page_number }}{% if search %}&amp;search={{ search }}{% endif %}">{% trans 'next' %}</a>
        {% endif %}
      </span>
    </div>

    </div>
{% endblock content %}
