{% extends 'frontend/base.html' %}
{% load static %}
{% load i18n %}
{% load arrow %}

{% block title %}Browse Lists{% endblock title %}

{% block additional_css %}
	<style>
		.newPopular {
			cursor: pointer;
		}
		a {
			color: black;
			text-decoration: none;
		}
		a:hover {
			color: black;
		}
	</style>
{% endblock additional_css %}

{% block content %}


    <div class="row">
        <div class="col-sm-2 flex-last pull-right text-right">
            <h2>
            <a style="width:100%;" class="btn btn-primary" href="{% url 'frontend:scan_list' %}">New List</a>
            </h2>
        </div>
        <div class="col-sm-10">
            <h2>{% trans 'Browse Lists' %}</h2>

            <p>PrivacyScore hosts lists of websites that are contributed by its users. You can browse our collection here.</p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-12 col-md-10">
            <div class="spacer"></div>
            <form method="get" action="{{ request.path }}">
                <div class="input-group">
                    <input type="text" id="search" name="search" class="form-control" placeholder="{% trans 'Search in list descriptions and tags' %}" {% if request.GET.search %}value="{{ request.GET.search }}"{% endif %} />
                    <!-- <input type="text" id="tags" name="tags" class="form-control" placeholder="{% trans 'Filter tags (i.e. banks german)' %}" {% if request.GET.tags %}value="{{ request.GET.tags }}"{% endif %} /> -->
                    <span class="input-group-btn">
                        <button class="btn btn-secondary btn-scan" type="submit">{% trans 'Search' %}</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    
    
    <div class="spacer"></div>
    
    {% if request.GET.tags %}
        
        <p>The list is filtered by tag &nbsp; <strong>{{ request.GET.tags }}</strong>
            &nbsp;&nbsp;&nbsp;
            <a class="btn btn-default btn-xs" href="{{ request.path }}">
                Remove Filter</a>
        </p>
        
    {% endif %}
    
    <div class="row">
        <div class="col-md-2 col-md-push-10">
            <div class="spacer visible-lg-block visible-md-block"></div>
            <div class="spacer visible-lg-block visible-md-block"></div>
            <div class="spacer visible-lg-block visible-md-block"></div>
            <div class="spacer visible-lg-block visible-md-block"></div>
            Popular tags:
            {% for tag in popular_tags %}
            <div class="visible-lg-block visible-md-block visible-sm-inline visible-xs-inline" style="padding: 0.6em; padding-left: 0;"><a class="btn btn-default btn-xs"
            href="{{ request.path }}?tags={{ tag }}">{{ tag }}</a> </div>
            {% endfor %}
            <div class="spacer"></div>
        </div>
        
        <div class="col-md-10 col-md-pull-2">
            <div class="spacer"></div>
            <p>The listing is ordered according to the <strong>list popularity</strong>, i.e., the lists with the most views are shown at the top.</p>
            
            <div class="spacer"></div>
            
            {% for scan_list in scan_lists %}
            <div class="browse-list-item">
                <div class="row">
                    <div class="col-xs-8">
                        <h4><strong>
                            <a href="{% url 'frontend:view_scan_list' scan_list.pk %}">
                                {{ scan_list.name }}
                            </a>
                            </strong>
                            <br>
                            <small>
                                CREATED ON
                                <strong>{{ scan_list.created|date:"Y-m-d" }}</strong>
                                BY
                                <strong>{{ scan_list.pseudonym }}</strong>
                            </small>
                        </h4>
                        <p style="margin-top:10px;">
                            {{ scan_list.description }}
                        </p>
                    </div>
                    <div class="col-xs-4 pull-right text-right">
                        <h4>
                            <small>
                                LAST SCAN<br>
                                <strong>
                                    {{ scan_list.last_scan_datetime|humanize_datetime }}
                                </strong><br>
                                <span>
                                    {{ scan_list.last_scan_datetime|humanize_datetime }}
                                </span>
                            </small>
                        </h4>
                        <h4>
                            <small>
                                <strong>
                                    {{ scan_list.sites.count }}
                                </strong>
                                SITES
                            </small>
                        </h4>

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div style="margin-top:10px;">
                            {% for tag in scan_list.ordered_tags %}
                            <a class="btn btn-default btn-xs"
                            href="{{ request.path }}?tags={{ tag }}">{{ tag }}</a>&nbsp;
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

            <div class="pagination">
              <span class="step-links">
                {% if scan_lists.has_previous %}
                  <a href="?page={{ scan_lists.previous_page_number }}{% if search %}&amp;search={{ search }}{% endif %}">{% trans 'previous' %}</a>
                {% endif %}

                <span class="current">
                  {% blocktrans with page=scan_lists.number pages=scan_lists.paginator.num_pages %}
                    Page {{ page }} of {{ pages }}.
                    {% endblocktrans %}
                </span>

                {% if scan_lists.has_next %}
                <a href="?page={{ scan_lists.next_page_number }}{% if search %}&amp;search={{ search }}{% endif %}">{% trans 'next' %}</a>
                {% endif %}
              </span>
            </div>
        </div>
        
    </div>
{% endblock content %}
