{% extends 'frontend/base.html' %}
{% load static %}

{% block title %}PrivacyScore{% endblock title %}

{% block additional_js %}
  <script src="{% static 'frontend/js/browse.js' %}" type="text/javascript"></script>
  <script>$(function() {init("list");});</script>
{% endblock additional_js %}

{% block additional_css %}
	<style>
		.newPopular {
			cursor: pointer;
		}
		a {
			color: black;
			text-decoration: none;
		}
		a:hover {
			color: black;
		}
	</style>
{% endblock additional_css %}

{% block content %}
	<content>
		<div style="margin-bottom: 500px;">
		
			<!--MAIN CONTENT-->
			<div class="col-md-9" style="padding-right: 50px;">
			

			
			<div class="row">
			<div class="col-md-12">
				<label id="label">Liste suchen</label>
			</div>
			</div>
			<div class="row">
			<div class="col-md-10">
				<input style="margin-top:5px;" type="text" class="form-control" id="searchForm" value="" placeholder="" onkeydown="if (event.keyCode == 13) document.getElementById('searchButton').click()" />
			</div>
			<div class="col-md-2">
				<a style="margin-top:5px;" class="btn btn-default" id="searchButton" role="button" onclick="searchButton();">Suchen</a>
			</div>
			</div>
			
			
			
			<div class="row">
				<h3 id="search"></h3>
				<h3 id="privateSearch" style="display:none;"></h3>
				
				<ul id="searchResults"></ul>
			</div>
			
			</div>
			
			
			<!--RIGHT CONTENT BAR-->
			<div class="col-md-3" style="margin-top:25px;">
			
			<div class="row" style="display:block;">
			<label id="privateListLabel" style="display:none;">Private Listen anzeigen</label>
			<div>
			<a style="margin-top:5px; display:none;" class="btn btn-default" id="privateSearchButton" role="button" onclick="privateSearchButton();">Anzeigen</a>
			<a style="margin-top:5px; display:none;" class="btn btn-default" id="privateSearchButtonBack" role="button" onclick="privateSearchButtonBack();">X</a>
			</div>
			</div>
			
			
			<div class="row" style="display:none">
			<label>Beliebte Listen</label>
			<span id="popularLists"></span>
			</div>
			
			<div class="row" style="display:none">
			<label>Neue Listen</label>
			<span id="newLists"></span>
			</div>
			
			</div>
		
		
		</div>
		
	</content>
{% endblock content %}
