{% extends 'frontend/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Code' %}{% endblock %}

{% block content %}

<h2>{% trans 'Open Source Policy' %}</h2>

<p>PrivacyScore will be released as open source software. All collected datasets will be archived and published on the website.</p>
    

<div class="row">
    <div class="col-sm-6">
        <h3>Source Code</h3>
        <p>The whole source code necessary to run an instance of PrivacyScore is available at <a href="https://github.com/PrivacyScore">GitHub</a>.</p>
        
        <h3>Open Data</h3>
        <p>We will publish the collected scan results of all lists on the PrivacyScore website (with the exception of lists that are marked as <em>private</em>). Furthermore, the results can be downloaded in machine-readable form.</p>
    </div>
        
    <div class="col-sm-6">
        <div class="row">
            <div
            class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 col-md-offset-2 col-lg-offset-2 col-xl-offset-2">
            <div class="improvements">
                <h5>&mdash; COMING SOON &mdash; </h5>
                <hr>
                <p><em>We are currently cleaning up our code and have not released the code yet. We are waiting until we have received some interesting lists before we publish results in machine readable form. We also want to make sure that most checks work as expected.</em>
                    <p><em>Estimated release: Summer 2017.</em></p>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}
