{% extends 'frontend/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Imprint' %}{% endblock %}

{% block content %}
    <h2>{% trans 'Imprint / Impressum' %}</h2>
    
    <div class="row">
        <div class="col-lg-12">
            <p><b>Security and Privacy</b>
                <br> Universität Hamburg
                <br> Vogt-Kölln-Straße 30
                <br> D-22527 Hamburg
                <br> Deutschland
                <br>
                <br> Tel.: +49 40 42883-2358
                <br> Fax: +49 40 42883-2086
                <br>
            </p>
            <h3>Inhaltliche Verantwortlichkeit i. S. v. § 5 TMG und § 55 Abs. 2 RStV</h3> Für die Richtigkeit und Aktualität der Inhalte sind die jeweiligen Erstellerinnen und Ersteller der einzelnen Seiten verantwortlich.
            <br>
            <br> Universität Hamburg, Fachbereich Informatik, Arbeitsbereich Sicherheit in Verteilten Systemen
            <br> Vogt-Kölln-Straße 30, D-22527 Hamburg
            <br> Tel.: +49 40 42883-2358
            <br> E-Mail: <a href=mailto:federrath@informatik.uni-hamburg.de>federrath@informatik.uni-hamburg.de</a>
            <br>
            <h3>Technische Verantwortlichkeit</h3>
            <b>Webmaster/in:</b>
            <br> Dr. Dominnik Herrmann
            <br> Tel.: +49 40 42883 2092
            <br> E-Mail: <a href="mailto:herrmann@informatik.uni-hamburg.de">herrmann@informatik.uni-hamburg.de</a>
            <br>
            <h3>Zentrale Adresse der Universität Hamburg</h3> Universität Hamburg
            <br> Mittelweg 177
            <br> 20148 Hamburg
            <br> Deutschland
            <br> Tel.: +49 40 42838-0
            <br> Fax: +49 40 42838-9586
            <br>
            <h3>Rechtsform und gesetzliche Vertretung</h3> Die Universität Hamburg ist eine Körperschaft des Öffentlichen Rechts. Sie wird gesetzlich vertreten durch Prof. Dr. Dieter Lenzen, Präsident der Universität Hamburg, Mittelweg 177, 20148 Hamburg, Deutschland.
            <h3>Zuständige Aufsichtsbehörde</h3> Behörde für Wissenschaft, Forschung und Gleichstellung der Freien und Hansestadt Hamburg
            <br> Hamburger Straße 37, 22083 Hamburg
            <br>
            <h3>Umsatzsteueridentifikationsnummer</h3> DE 245 584 140
            <br>
            <h3>Haftungsausschluss</h3> Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Richtigkeit, Vollständigkeit und Aktualität unserer Webseiten sowie für die Inhalte externer Links. Von den Inhalten der verlinkten Seiten – auf deren Inhalt wir keinen Einfluss haben – distanzieren wir uns ausdrücklich. Diese Erklärung gilt für alle auf den Webseiten angebrachten Links und für alle Inhalte der Seiten, zu denen Links oder Banner führen.
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
    
    
{% endblock %}
