{% extends 'frontend/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Imprint' %}{% endblock %}

{% block content %}
    <h2>{% trans 'Imprint / Impressum' %}</h2>
    
    <div class="row">
        <div class="col-lg-12">
            <p><b>Lehrstuhl für Privatsphäre und Sicherheit in Informationssystemen (PSI)</b>
                <br> Otto-Friedrich Universität Bamberg
                <br> Kapuzinerstr. 16
                <br> 96047 Bamberg
                <br> Germany
                <br>
                <br> Tel.: +49 951 863-2661
            </p>

            <h3>Inhaltliche Verantwortlichkeit i.S.v. § 5 TMG und § 55 Abs. 2 RStV</h3>
            <p>Für die Richtigkeit und Aktualität der Inhalte sind die jeweiligen Erstellerinnen und Ersteller der einzelnen Seiten verantwortlich.</p>

            Otto-Friedrich Universität Bamberg
            <br> Lehrstuhl für Privatsphäre und Sicherheit in Informationssystemen (PSI)
            <br> Prof. Dr. Dominik Herrmann
            <br> An der Weberei 5
            <br>  96047 Bamberg
            <br>  Deutschland
            <br> Tel.: +49 951 863-2661
            <br> E-Mail: <a href="mailto:dominik.herrmann@uni-bamberg.de">dominik.herrmann@uni-bamberg.de</a>


            <h3>Technische Verantwortlichkeit</h3>
            <b>Webmaster/in:</b>
            <br> Prof. Dr. Dominik Herrmann
            <br> Tel.: +49 951 863-2661
            <br> E-Mail: <a href="mailto:dominik.herrmann@uni-bamberg.de">dominik.herrmann@uni-bamberg.de</a>


            <h3>Zentrale Adresse der Otto-Friedrich Universität Bamberg</h3>
            Otto-Friedrich Universität Bamberg
            <br> Kapuzinerstr. 16
            <br> 96047 Bamberg
            <br> Deutschland
            <br> Tel.: +49 950 863-0
            <br> Fax: +49 40 42838-1005

            <h3>Rechtsform und gesetzliche Vertretung</h3>
            <p>Die Otto-Friedrich-Universität Bamberg ist Körperschaft des öffentlichen Rechts gemäß Art. 11 Abs. 1 Satz 1 Bayerisches Hochschulgesetz ***). Sie nimmt eigene Angelegenheiten als Körperschaft (Körperschaftsangelegenheiten), staatliche Angelegenheiten als staatliche Einrichtung wahr – Art. 12 Abs. 1 Bayerisches Hochschulgesetz ***).</p>
            
            <h3>Vertretungsberechtigte Person</h3>
            <p>
            Die Otto-Friedrich-Universität Bamberg wird vom Vorsitzenden der Universitätsleitung, Herrn Präsident Prof. Dr. Dr. habil. Godehard Ruppert, gesetzlich vertreten. Verantwortlicher im Sinne von § 5 Telemediengesetz *) und § 55 Rundfunkstaatsvertrag **) ist der Präsident. Für namentlich oder mit einem gesonderten Impressum gekennzeichnete Beiträge liegt die Verantwortung bei den jeweiligen Autoren.</p>
            
            <h3>Zuständige Aufsichtsbehörde</h3>
            Bayerisches Staatsministerium für Bildung und Kultus, Wissenschaft und Kunst
            <br> Salvatorstraße 2
            <br> 80333 München
            <br> Internet: <a href="https://www.km.bayern.de/">https://www.km.bayern.de/</a>
            <br> 
            <br> Die Aufsichtsbefugnisse des Staatsministeriums ergeben sich aus den Einzelbestimmungen des BayHSchG ***).
            
            
            <h3>Umsatzsteueridentifikationsnummer</h3> DE 811 283 362


            <h3>Haftungsausschluss</h3>
            <p>Die Zusammenstellung der Informationen auf dieser Website wurde von der Otto-Friedrich-Universität Bamberg mit größtmöglicher Sorgfalt vorgenommen. Dennoch kann keinerlei Gewähr für Aktualität, Korrektheit, Vollständigkeit oder Qualität der bereitgestellten Informationen und Daten übernommen werden. Haftungsansprüche gegen die Otto-Friedrich-Universität Bamberg oder die Autoren beziehungsweise Verantwortlichen dieser Website für Schäden materieller oder immaterieller Art, die auf gegebenenfalls fehlerhaften oder unvollständigen Informationen und Daten beruhen, sind, soweit nicht Vorsatz oder grobe Fahrlässigkeit vorliegt, ausgeschlossen.</p>

            <p>Das Vorgesagte gilt auch für Informationen auf Websites, auf die mittels eines Hyperlinks verwiesen wird. Der Inhalt dieser Websites liegt vollständig außerhalb des Verantwortungsbereiches der Otto-Friedrich-Universität Bamberg, war  aber zur Zeit der Verlinkung frei von illegalen Inhalten. Auf die Gestaltung der gelinkten Websites kann nicht Einfluss genommen werden. Für Schäden, die aus fehlerhaften oder unvollständigen Inhalten auf den mittels Link verwiesenen Websites resultieren, haften die Otto-Friedrich-Universität Bamberg und die Autoren beziehungsweise Verantwortlichen dieser Website nicht.</p>

            <p>Alle auf dieser Website veröffentlichten Texte, Bilder und Grafiken unterliegen dem Urheberrecht und anderen Gesetzen zum Schutz des geistigen Eigentums. Das Copyright für die von der Otto-Friedrich-Universität Bamberg erstellten Objekte der Website liegt bei der Otto-Friedrich-Universität Bamberg. Auf der Website genannte und gegebenenfalls durch Dritte geschützte Marken- und Warenzeichen unterliegen ohne Einschränkung den Bestimmungen des jeweils geltenden Kennzeichenrechts und den Besitzrechten der jeweils eingetragenen Eigentümer.</p>

            <p>Alle aus dieser Website entstehenden Rechtsstreitigkeiten unterliegen ausschließlich deutschem Recht.</p>
            
        <hr>
        
        <p>*) Telemediengesetz vom 26. Februar 2007 (BGBl I S. 179).</p>

        <p>**) Staatsvertrag für Rundfunk und Telemedien (Rundfunkstaatsvertrag – RStV) vom 31. August 1991 in der Fassung des Fünfzehnten Staatsvertrages zur Änderung rundfunkrechtlicher Staatsverträge vom 15./21. Dezember 2010 (Bek. vom 7. Juni 2011 – GVBl S. 258), in Kraft getreten am 01.01.2013.</p>

        <p>***) Bayerisches Hochschulgesetz in der Fassung der Bekanntmachung vom 23. Mai 2006 (GVBl S. 245).</p>
        </div>
    </div>
    
    
{% endblock %}
