{% extends 'frontend/base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans 'Welcome' %}{% endblock title %}

{% block fullcontent %}
    <div class="well">
        <div class="container">
            <h2>{% trans 'Compare Websites with PrivacyScore' %}</h2>
            <p>{% trans 'PrivacyScore allows you to test websites and rank them according to their security and privacy features.' %}</p>

            <div class="well-form">
                <button class="btn btn-lg btn-primary btn-well">Create new site list</button>
                <p class="scan-seperator">— {% trans 'Or scan a single site immediately' %} —</p>
                <form method="post" action="{% url 'frontend:scan_site' %}">
                    {% csrf_token %}
                    <div class="input-group scan-single">
                        {% with placeholder=_('Website, e.g. https://privacyscore.org/') %}
                            {% render_field scan_form.url class+='form-control' placeholder=placeholder %}
                        {% endwith %}
                        <span class="input-group-btn">
                            <button class="btn btn-secondary btn-scan" type="button">{% trans 'Scan' %}</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container spotlight-container">

        <h2>Lists in Spotlight</h2>
        <p>{% trans 'Check out our lists of scanned websites or create your own.' %}</p>

        <div class="spotlight-container-outer">

            <div class="spotlight-container-inner">
                <div class="panel panel-default spotlight">
                    <div class="spotlight-img">
                        <img src="{% static 'frontend/img/spotlight/newspaper.jpg' %}" alt="">
                        <div class="spotlight-bg">
                            <span>German Newspaper</span>
                        </div>
                        <div class="spotlight-caption">
                            German Newspaper
                        </div>
                    </div>
                    <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent congue
                        nisi sed nunc auctor, sit amet condimentum ex pharetra.
                    </div>
                </div>

                <div class="panel panel-default spotlight">
                    <div class="spotlight-img">
                        <img src="{% static 'frontend/img/spotlight/carbrand.jpg' %}" alt="">
                        <div class="spotlight-bg">
                            <span>Car Brands</span>
                        </div>
                        <div class="spotlight-caption">
                            Car Brands
                        </div>
                    </div>
                    <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent congue
                        nisi sed nunc auctor, sit amet condimentum ex pharetra.
                    </div>
                </div>

                <div class="panel panel-default spotlight">
                    <div class="spotlight-img">
                        <img src="{% static 'frontend/img/spotlight/healthinsurance.jpg' %}" alt="">
                        <div class="spotlight-bg">
                            <span>German Health Insurance</span>
                        </div>
                        <div class="spotlight-caption">
                            German Health Insurance
                        </div>
                    </div>
                    <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent congue
                        nisi sed nunc auctor, sit amet condimentum ex pharetra.
                    </div>
                </div>

                <div class="panel panel-default spotlight">
                    <div class="spotlight-img">
                        <img src="{% static 'frontend/img/spotlight/createlist.jpg' %}" alt="">
                        <div class="spotlight-bg spotlight-bg-own">
                            <span>{% trans 'Create your own list' %}</span>
                        </div>
                        <div class="spotlight-caption">
                            {% trans 'Create your own list' %}
                        </div>
                    </div>
                    <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent congue
                        nisi sed nunc auctor, sit amet condimentum ex pharetra.
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock fullcontent %}
