{% extends 'frontend/base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans 'Welcome' %}{% endblock title %}

{% block fullcontent %}
    <div class="well">
        <div class="container">
            <h2>{% trans 'Compare Websites with PrivacyScore' %}</h2>
            <p>{% trans 'PrivacyScore allows you to test websites and rank them according to their security and privacy features.' %}</p>

            <div class="well-form">
                <button class="btn btn-lg btn-primary btn-well">Create new site list</button>
                <p class="scan-seperator">— {% trans 'Or scan a single site immediately' %} —</p>
                <form method="post" action="{% url 'frontend:scan_site' %}">
                    {% csrf_token %}
                    <div class="input-group scan-single">
                        {% render_field scan_form.url class+='form-control' placeholder="Website, e.g. http://privacyscore.org/" %}
                        <span class="input-group-btn">
                            <button class="btn btn-secondary btn-scan" type="button">{% trans 'Scan' %}</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock fullcontent %}
