{% extends 'frontend/base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans 'Welcome' %}{% endblock title %}

{% block fullcontent %}
    <div class="well">
        <div class="container">
            <h2>{% trans 'Compare Websites with PrivacyScore' %}</h2>
            <p>{% trans 'PrivacyScore allows you to test websites and rank them according to their security and privacy features.' %}</p>

            <div class="well-form">
                <a class="btn btn-lg btn-primary btn-well" href="{% url 'frontend:scan_list' %}">Create new site list</a>
                <p class="scan-separator">— {% trans 'or scan a single site immediately' %} —</p>
                <form method="post" action="{% url 'frontend:scan_site' %}">
                    {% csrf_token %}
                    <div class="input-group scan-single">
                        {% with placeholder=_('URL of website, e.g. https://privacyscore.org/') %}
                            {% render_field scan_form.url class+='form-control' placeholder=placeholder %}
                        {% endwith %}
                        <span class="input-group-btn">
                            <button class="btn btn-secondary btn-scan" type="submit">{% trans 'Scan' %}</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container spotlight-container">

        <h2>Lists in the Spotlight</h2>
        <p>We present selected lists of websites that have been added to PrivacyScore.<br>
        Long lists load quite slowly. Please be patient.<br><span class="label label-warning">IMPROVEMENTS UNDERWAY</span></p>
        <div class="spacer"></div>
        <div class="spotlight-container-outer">
            <div class="spotlight-container-inner">

                {% for spotlight in spotlights %}
                <div class="panel panel-default spotlight">
                    <div class="spotlight-img">
                        <a href="{% url 'frontend:view_scan_list' spotlight.scan_list_id %}"><img src="{{ MEDIA_URL }}{{ spotlight.image.url }}" alt=""></a>
                        <div class="spotlight-bg">
                            <span>{{ spotlight.title }}</span>
                        </div>
                        <a class="spotlight-caption" href="{% url 'frontend:view_scan_list' spotlight.scan_list_id %}">
                            {{ spotlight.title }}
                        </a>
                    </div>
                    <div class="panel-body">{{ spotlight.content|safe }}</div>
                </div>
                {% endfor %}

                <div class="panel panel-default spotlight">
                    <div class="spotlight-img">
                        <a href="{% url 'frontend:scan_list' %}"><img src="{% static 'frontend/img/spotlight/createlist.jpg' %}" alt=""></a>
                        <div class="spotlight-bg spotlight-bg-own">
                            <span>{% trans 'Create your own list' %}</span>
                        </div>
                        <a class="spotlight-caption" href="{% url 'frontend:scan_list' %}">
                            {% trans 'Create your own list' %}
                        </a>
                    </div>
                    <div class="panel-body">
                        {% trans "Do you want to submit your own list of websites?" %}
                        {% trans "You are just one click away!" %}
                    </div>
                </div>
            </div>
        </div>
        <div class="spotlight-clearfix"></div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-push-3">
                <h2>What is PrivacyScore?</h2>
        
                <p>PrivacyScore is an automated website scanner that allows you to investigate Websites for privacy and security issues. You can scan individual websites, or enter a list of related websites to see how they compare against each other. Our <em>beta release</em> of PrivacyScore tests the following aspects of websites:
                </p>
                
                <ul class="list-group">
                    <li class="list-group-item">
                        <strong>Tracking and Privacy Checks</strong> test if the website is tracking you, or allowing others to do so.
                    </li>
                    <li class="list-group-item">
                        <strong>Website Encryption</strong> tests check if the webserver offers HTTPS connections, and how securely they are configured.
                    </li>
                    <li class="list-group-item">
                        <strong>Web Security Checks</strong> test if the website has any obvious security flaws.
                    </li>
                    <li class="list-group-item">
                        <strong>Mail Encryption</strong> is often overlooked. PrivacyScore checks whether the mail servers of a website support state-of-the-art transport encryption.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</div>

{% endblock fullcontent %}
