{% extends 'frontend/base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}PrivacyScore{% endblock title %}

{% block additional_js %}
{% endblock additional_js %}

{% block additional_css %}
{% endblock additional_css %}

{% block content %}
    <h2>{% trans "Submit a New List of Websites" %}</h2>

    <form class="post">
    {% csrf_token %}

    <h3>{% trans "Basic Information" %}</h3>
    <div class="group-box">
        <div class="row row-equal-height">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="id_name">{% trans "Name" %}</label>
                    {% render_field scan_list_form.name class+="form-control" placeholder="French Sites About Unicorns" %}
                    <div class="checkbox">
                        <label>
                            {% render_field scan_list_form.private %} {% trans "Private List (only you can view the results)" %}
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_tags">{% trans "Tags" %}</label>
                    {% render_field scan_list_form.tags class+="form-control" placeholder="unicorn cute fantasy french" %}
                </div>
                <div class="form-group">
                    <label for="id_pseudonym">{% trans "Your Name (or a pseudonym, will be published)" %}</label>
                    {% render_field scan_list_form.pseudonym class+="form-control" placeholder="John Doe" %}
                </div>
                <div class="form-group">
                    <label for="id_email">{% trans "Email Address (optional, will not be published)" %}</label>
                    {% render_field scan_list_form.email class+="form-control" placeholder="john.doe@example.com" %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="id_description">{% trans "Description" %}</label>
                    {% render_field scan_list_form.description class+="form-control list-description" placeholder="Brief description shown in the directory [new paragraph] Details about your collection methodology [new paragraph] all sources you used [new paragraph] description of the Attribute Columns (if your list contains any)" %}
                <p style="margin-top:5px; margin-left:5px; margin-right:5px; font-size:90%"><em>Instructions:</em> Please start with a <em>brief description</em> of the list and the motivation to scan it. Please stay between 20 and 50 words, because we show this first paragraph as a preview in the list directory. The second paragraph should <em>present details about the collection</em> and if there is something peculiar about it. The next paragraph can be used to <em>describe the sources</em> you used to compile the entries (if any). Finally, the last paragraph should be used to explain the <em>site attributes</em> and the meaning of the possible values.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="spacer"></div>
    <h3>{% trans "Upload List as CSV File" %}</h3>
    <div class="group-box">
        <p>{% trans "During the initial stage of the beta phase we ask you to submit your list of websites by uploading a comma-separated values (CSV) file." %}</p>
        <p>{% trans "The file has to contain a <em>header line</em> followed by multiple rows, one row per website. The <em>first column</em> is expected to be the URL of the site. All other columns contain <em>site attributes</em>. Please use the <em>semi-colon</em> (;) as a column delimiter." %}</p>
        {% trans "<p>The following example illustrates the structure for a list of hypothetical e-commerce sites:</p>" %}
        <table class="table table-bordered">
            <tr>
                <th>URL</th>
                <th>Country</th>
                <th>Annual Sales</th>
            </tr>
            <tr>
                <td>http://myunicorn.example.com/</td>
                <td>US</td>
                <td>8500</td>
            </tr>
            <tr>
                <td>http://manyunicorns.example.it/</td>
                <td>IT</td>
                <td>600</td>
            </tr>
        </table>

        <div class="spacer"></div>
        <div class="form-group">
            <input type="file">
        </div>
        <button class="btn btn-default">
            <i class="fa fa-upload"></i>
                {% trans 'Upload CSV File' %}
        </button>
    </div>

    </form>
{% endblock content %}
