{% extends 'frontend/base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Login{% endblock title %}

{% block content %}
  <content>
  
    <div class="row" style="margin-top: 20px; font-size: 120%;">
    <div class="col-md-4">
    
      <h2 id="loginHeader">
        Anmelden
      </h2>

      <form method="POST" action="{{ request.get_full_path }}">
        {% csrf_token %}
        {% render_field form.username class+='form-control' placeholder=form.username.label %}
        {% render_field form.password class+='form-control' placeholder=form.password.label %}
          
        {% for error in form.non_field_errors %}
          <div class="alert alert-warning">{{ error }}</div>
        {% endfor %}

        <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'Login' %}</button>
      </form>
      
    </div>
    
    <div class="col-md-2">
    
    </div>
    
    <div class="col-md-4">
    
      <h2 id="newAccountHeader">
        Registrieren
      </h2>
      
      <label for="inputEmail2" class="sr-only">Email address</label>
      <input type="email" id="inputEmail2" class="form-control" placeholder="Email address" required autofocus>
      
      <label for="inputPassword2" class="sr-only">Password</label>
      <input type="password" id="inputPassword2" class="form-control" placeholder="Password" required autocomplete="off">
      <label for="inputPassword3" class="sr-only">Password</label>
      <input type="password" id="inputPassword3" class="form-control" placeholder="Password" required autocomplete="off">
      <label for="inputCheck" class="sr-only">Check</label>
      <input type="password" id="inputCheck" class="form-control" onkeydown="if (event.keyCode == 13) document.getElementById('newAccountButton').click()" required autocomplete="off">
      
      <button class="btn btn-lg btn-primary btn-block" type="submit" id="newAccountButton" onclick="newAccount();">Registrieren</button>
      <small id="pleaseEnter" class="form-text text-muted" style="color:red; display:none;"></small>
      <small id="usernameNotAvailable" class="form-text text-muted" style="color:red; display:none;"></small>
      <small id="passwordNotEqual" class="form-text text-muted" style="color:red; display:none;"></small>
      <small id="robotError" class="form-text text-muted" style="color:red; display:none;"></small>
      <small id="otherError" class="form-text text-muted" style="color:red; display:none;"></small>
      
      <small id="newAccountSuccess" class="form-text text-muted" style="color:green; display:none;"></small>

      
    </div>
    </div>
    
    
    
  </content>
{% endblock content %}
