{% load i18n %}
<ul class="list-group">
    <li class="list-group-item">
        This list contains 
        {% blocktrans count counter=sites_count %}
            {{ counter }} website
        {% plural %}
            {{ counter }} websites
        {% endblocktrans %}

        {% blocktrans count counter=sites_failures_count %}
            (with {{ counter }} scan error).
        {% plural %}
            (with {{ counter }} scan errors).
        {% endblocktrans %}
    </li>
    <li class="list-group-item color-good">
        <i class="fa fa-lg fa-check-circle color-good"></i>&nbsp; 
        {% blocktrans with count=ratings_count.good %}
        <strong>{{ count }} passed all checks</strong>
        {% endblocktrans %}
    </li>
    <li class="list-group-item color-warning">
        <i class="fa fa-lg  fa-exclamation-circle color-warning"></i>&nbsp; 
        {% blocktrans with count=ratings_count.warning %}
        <strong>{{ count }} failed one or more checks</strong>
        {% endblocktrans %}
    </li>
    <li class="list-group-item color-bad">
        <i class="fa fa-lg  fa-exclamation-triangle color-bad"></i>&nbsp; 
        {% blocktrans with count=ratings_count.bad %}
        <strong>{{ count }} failed all tests in at least one group</strong>
        {% endblocktrans %}
    </li>
    <li class="list-group-item color-critical">
        <i class="fa fa-lg fa-times-circle color-critical"></i>&nbsp; 
        {% blocktrans with count=ratings_count.critical %}
        <strong>{{ count }} failed at least one critical check</strong>
        {% endblocktrans %}
    </li>
    <li class="list-group-item color-neutral">
        <i class="fa fa-lg fa-question-circle color-neutral"></i>&nbsp; 
        {% blocktrans with count=ratings_count.neutral %}
        <strong>{{ count }} could not be judged due to missing data</strong>
        {% endblocktrans %}
    </li>
</ul>
