{% extends "frontend/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Success: scan will start shortly' %}{% endblock %}

{% block content %}

<div style="margin-top: 60px;" class="row">
    <div class="col-lg-push-0 col-lg-3 col-md-3 col-md-push-0 col-sm-4 col-sm-push-0 col-xs-6 col-xs-push-3 text-center">
        <img style="margin-top:17px; width:80%" src="{% static 'frontend/img/privacy-rex-cropped.png' %}">
        
        <div style="margin-top:2px; width:100%"><a class="btn btn-primary" href="{% url 'frontend:view_site' site.pk %}">{% trans "Go to the Scan Results Page" %}</a>
        </div>
    </div>
    <div class="col-lg-6 col-lg-push-0 col-md-6 col-md-push-0 col-sm-8 col-sm-push-0 col-xs-10 col-xs-push-1">
        <h1>{% trans "Success!" %}</h1>

        <h3>{% trans "Your scan has been added to our scanning queue." %}</h3>
        <p>We are running multiple scanning machines that perform periodic re-scans of all sites in our database. If the queue is empty, you can expect the results to arrive with 2–5 minutes.</p>
        
        <p>If the site has been scanned previously, we will show you the most recently obtained scan results until your scan has finished.</p>

        <p>Currently, there
            {% blocktrans count counter=num_scanning_sites %}
                is <strong> {{ counter }} site</strong>
            {% plural %}
                are <strong> {{ counter }} sites</strong>
            {% endblocktrans %}
             in the scanning queue (including yours).
         </p>

    </div>
</div>

{% endblock %}
