{% extends "frontend/base.html" %}
{% load i18n %}

{% block title %}List created{% endblock %}

{% block content %}
<h2>{% trans "List created successfully!" %}</h2>

<p>{% trans "Your can has been added to queue and will be executed soon." %}</p>

<p>{% trans "If you want to edit your list later on, remember the following access token:" %}</p>

<p class="group-box" style="width:auto;">
    <strong>{{ scan_list.token }}</strong>
</p>

<p>
    <a class="btn btn-primary" href="{% url 'frontend:view_scan_list' scan_list.pk %}">{% trans "Go to list" %}</a>
</p>
{% endblock %}