{% extends "frontend/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'List created' %}{% endblock %}

{% block content %}

<div style="margin-top: 60px;" class="row">
    <div class="col-md-3 text-center">
        <img style="margin-top:17px; width:80%" src="{% static 'frontend/img/privacy-rex-cropped.png' %}">
        
        <div style="margin-top:2px; width:100%"><a class="btn btn-primary" href="{% url 'frontend:view_scan_list' scan_list.pk %}">{% trans "Go to the Scan Results Page" %}</a>
        </div>
    </div>
    <div class="col-md-6">
        <h1>{% trans "Success!" %}</h1>

        <h3>{% trans "Your scan has been added to our scanning queue." %}</h3>
        <p>We are running multiple scanning machines that perform periodic rescans of all existing lists. If the queue is empty, the first results are 1–2 minutes after submitting the scan.</p>

        <div class="spacer"></div>
        <hr>

        <p class="text-center">{% trans "If you want to edit your list later on, remember the following access token:" %}</p>

        <p class="group-box text-center" style="width:100%">
            <strong>{{ scan_list.token }}</strong>
        </p>
    </div>
</div>

{% endblock %}
