{% extends 'frontend/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Team and Contributors' %}{% endblock %}

{% block content %}
<div id="lists">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                
                <h2>{% trans 'Team and Contributors' %}</h2>
                
                <p>PrivacyScore is the result of the work of many contributors.</p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-5">
                <h3>Universität Hamburg, Germany</h3>
                
                <p>Multiple researchers and students of the
                    <a href="https://svs.informatik.uni-hamburg.de/">
                        Security in Distributed Systems Group</a>
                        at Universität Hamburg have been working on
                        the design and the implementation of PrivacyScore.
                    <ul>
                        <li><strong>Dominik Herrmann</strong> (research associate)</li>
                        <li><strong>Henning Pridöhl</strong> (research assistant)</li>
                        <li><strong>Pascal Wichmann</strong> (student assistant)</li>
                        <li><strong>Rick Trojahn</strong> (student)</li>
                        <li><strong>Kim-Otto Daetz</strong> (student)</li>
                    </ul>
                    
                <p>At the moment, most of the virtual machines that are
                    being used for scanning are hosted in Hamburg.</p>
                    
                <h3>TU Darmstadt, Germany</h3>
                
                <p><strong>Max Maass</strong> contributes to PrivacyScore
                    in various ways, for instance by implementing tests.
                    He works in the <a
                    href="https://www.seemoo.tu-darmstadt.de/home-vision/">
                    Secure Mobile Networking Lab</a> at TU Darmstadt, as
                    a PhD student in the Doctoral College
                    <a href="https://www.privacy-trust.tu-darmstadt.de/de/home/">
                        “Privacy and Trust for Mobile Users”</a>.</p>
                        
            </div>
            <div class="col-md-5 col-md-push-1">
                <h3>Universität Kassel, Germany</h3>
                
                <p><strong>Anne Laubach</strong> contributes to PrivacyScore
                    by sharing her expertise regarding legal implications.
                    She is a PhD student in the Doctoral College
                    <a href="https://www.privacy-trust.tu-darmstadt.de/de/home/">
                        “Privacy and Trust for Mobile Users”</a>.</p>
            </div>
            <div class="col-md-5 col-md-push-1">
                <h3>Fachhochschule Münster, Germany</h3>

                <p><strong>Prof. Dr.-Ing. Sebastian Schinzel</strong> works
                    at the <a href="https://www.fh-muenster.de/fb2/personen/professoren/schinzel/">
                        Department of Electrical Engineering and Computer Science</a>
                    and contributes to PrivacyScore by providing
                    computing ressources for scanning.</p>
            </div>
            <div class="col-md-5 col-md-push-1">
                <h3>Universität Siegen, Germany</h3>
                <p><strong>Marvin Hebisch</strong> and <strong>Nico Vitt</strong>
                    are business informatics students in the
                    <a href="https://www.wiwi.uni-siegen.de">
                        School of Economic Disciplines</a>.
                    They have implemented the first
                    working prototype of PrivacyScore.</p>
            </div>
        </div>

        <div class="row">

            <div class="col-md-5">
                
                <h2>{% trans 'Acknowledgements' %}</h2>
                
                <p>We are grateful to the authors of the following tools, which are being
                   used in PrivacyScore or have inspired our work.</p>
                
                <ul class="list-group">
                    <li class="list-group-item"><a href="https://github.com/citp/OpenWPM"><strong>OpenWPM</strong></a> by Steven Englehardt and Arvind Narayanan (Center for Information Technology Policy, Princeton University), which is used for most of the checks in the NoTrack group.
                    </li>

                    <li class="list-group-item"><a href="https://testssl.sh/"><strong>testssl.sh</strong></a> by Dirk Wetter, which is used to perform most of the checks in the EncWeb and EncMail groups.
                    </li>
                    
                    <li class="list-group-item"><a href="https://webbkoll.dataskydd.net/en"><strong>WebbKoll</strong></a> developed by <em>dataskydd.net</em>, which inspired us to start PrivacyScore.
                    </li>
                </ul>
                
                We are also grateful to the participants of <a href="https://fg-pet.gi.de/">PET-CON 2017.1</a> and to members of <a href="https://digitalcourage.de/">digitalcourage e.V.</a> for their valuable feedback. This work has been co-funded by the DFG as part of project C.1 and C.2 within the RTG 2050 <a href="https://www.privacy-trust.tu-darmstadt.de/de/home/">“Privacy and Trust for Mobile Users”</a>.
            </div>
            <div class="col-md-5 col-md-push-1">
                
                <h2>{% trans 'How can I contribute?' %}</h2>
                
                <p>Great that you want to help! There are several possibilities, for instance:</p>
                <ul class="list-group">
                    <li class="list-group-item">If you are working at research institution you could contribute virtual
                        machines (minimum of 1 CPU core, 1.5 GB RAM, 10 GB HDD, Debian Stretch) to
                        better distribute the work.</li>
                    <li class="list-group-item">Once we have <a href="/code/">released the source sode</a> you can
                        contribute by improving the existing checks and writing new ones (see our
                        list of checks for details).</li>
                </ul>
            </div>
            
        </div>
        
    </div>  
</div>
    
{% endblock %}
