{% extends 'frontend/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Team' %}{% endblock %}

{% block content %}
<h2>{% trans 'TODO – Team' %}</h2>
    
<div id="lists">
    <div class="container mtb">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h4>Universität Hamburg, Germany</h3>
                
                <p>Multiple researchers and students of the Security in Distributed Systems Group at Universität Hamburg are working on PrivacyScore:
                    <ul>
                        <li>Dominik Herrmann</li>
                        <li>Henning Pridöhl</li>
                        <li>Pascal Wichmann</li>
                    </ul>
                    
                I do not really like this design so far.
                    
                <div class="hline"></div><br>
                <h4>TU Darmstadt</h3>
                <div class="hline"></div><br>
                <h3>Marvin Hebisch (Uni Siegen)</h3>
                <div class="hline"></div><br>
                <h3>Nico Vitt (Uni Siegen)</h3>
                <div class="hline"></div><br>
                <h3>Sebastian Schinzel (FH Münster)</h3>
                <div class="hline"></div><br>
                <h3>Digitalcourage.de</h3>
                <div class="hline"></div><br>
                <br><br><br>
            </div>
        </div>
    </div>  
</div>
    
{% endblock %}
