{% extends 'frontend/base.html' %}
{% load static %}
{% load i18n %}
{% load result_groups %}

{% block title %}Results for {{ site.url }}{% endblock title %}

{% block additional_js %}
  <!-- TODO -->
  <script>
      function toggleIcon(e) {
          $(e.target)
              .prev('.panel-heading')
              .find(".more-less")
              .toggleClass('glyphicon-menu-down glyphicon-menu-up');
      }
      $('.panel-group').on('hidden.bs.collapse', toggleIcon);
      $('.panel-group').on('shown.bs.collapse', toggleIcon);
  </script>
{% endblock additional_js %}

{% block additional_css %}
  <style>
  table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled
 {
    //background-position: left center;
    //padding-left: 20px;
}​
    a {
      color: black;
      text-decoration: none;
    }
    a:hover {
      color: black;
    }

    .description-good {
      color: green;
    }

    .description-neutral {
      color: gray;
    }

    .description-bad, .description-critical {
      color: red;
    }
  </style>
{% endblock additional_css %}


{% block content %}

<div class="row" style="margin-top:20px">
    <div class="col-xs-12">
        <div>
            <h2><small>SHOWING RESULTS FOR</small><br>
                {{ site.url }}
            </h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        
        <div style="background-color: #888; width: 100%; padding: 8px 12px 6px 12px; color: #ccc; font-size: 90%">
            <span>SCAN <span style="color:white">#{{ num_scans }}</span>
            </span>
            <span class="pull-right"><span>LAST SCAN</span>&nbsp; <span style="color: white">{{ site.last_scan.start|date:"Y-m-d @ H:i:s" }} – {{ site.last_scan.end|date:"H:i:s" }}</span></span></div>
        
        <div class="group-box" style="border: 2px solid #888; background: #eee">
            {% with r=site.evaluated.rating.rating %}
            <div class="text-center" style="font-size: 1em; line-height: 1.2em; font-weight: 700;">
                <div><small>OVERALL RATING</small><br>
                
                    {% if r == 'doubleplusgood' %}
                        <i class="fa fa-5x fa-star-o color-{{ r }}"></i>
                    {% elif r == 'good' %}
                        <i class="fa fa-5x fa-check-circle color-{{ r }}"></i>
                    {% elif r == 'warning' %}
                        <i class="fa fa-5x fa-minus-circle color-{{ r }}"></i>
                    {% elif r == 'bad' %}
                        <i class="fa fa-5x fa-exclamation-circle color-{{ r }}"></i>
                    {% elif r == 'neutral' %}
                        <i class="fa fa-5x fa-question-circle color-{{ r }}"></i>
                    {% else  %}
                        {{ r }}
                    {% endif %}
                
                </div>
            </div>
            {% endwith %}
            <div class="spacer"></div>

            <div class="row">
                
            {% for group, rating in site.evaluated %}
                <div class="col-xs-6 col-sm-3 text-center" style="font-size: 1em; line-height: 1.2em; font-weight: 700;">
                {% if rating %}
                        {% with group_rating=rating.group_rating.rating %}
                            {% if rating.devaluating %}
                            (
                            {% endif %}
                            {% if group_rating == 'doubleplusgood' %}
                                <i class="fa fa-3x fa-star-o color-{{ group_rating }}"></i>
                            {% elif group_rating == 'good' %}
                                <i class="fa fa-3x fa-check-circle color-{{ group_rating }}"></i>
                            {% elif group_rating == 'warning' %}
                                <i class="fa fa-3x fa-minus-circle color-{{ group_rating }}"></i>
                            {% elif group_rating == 'bad' %}
                                <i class="fa fa-3x fa-exclamation-circle color-{{ group_rating }}"></i>
                            {% elif group_rating == 'neutral' %}
                                <i class="fa fa-3x fa-question-circle color-{{ group_rating }}"></i>
                            {% endif %}
                            {% if rating.devaluating %}
                            )
                            {% endif %}
                            <br>{{ group|group_short_name }}
                        {% endwith %}
                {% else %}
                        {% trans 'No rating' %}
                {% endif %}
                </div>
            {% empty %}
                <div class="col text-center" style="font-size: 1em; line-height: 1.2em; font-weight: 700;">
                {% trans 'The ratings are not available yet.' %}
                </div>
            {% endfor %}
            </div>

        </div>
    </div>
    <div class="col-sm-4">
        <form method="POST" action="{% url 'frontend:scan_site' site.pk %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-default btn-primary btn-lg" role="button" id="scan_again" style="width:100%; margin-top:5px; margin-bottom:10px">
                {% trans 'Re-scan site now' %}
            </button>
        </form>
    
        <p class="text-center">
            {% if site.last_scan__start and site.last_scan__end_or_null is None %}
                <strong class="text-primary">scheduled for scanning</strong>
            {% else %}
                <small class="text-muted">not scanning at the moment</small>
            {% endif %}
        </p>
    </div>
</div>

<div class="spacer"></div>

<div class="row">
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-6">
                <p><small>ANALYZED URL AFTER LOADING:</small><br>
                    <span style="word-wrap: break-word;">
                        {{ res.final_url }}
                    </span></p>
                </p>
            </div>
            <div class="col-sm-6">
                <p><small>ANALYZED MAIL SERVER:</small><br>
                        {{ res.mx_record }}
                </p>
            </div>
            <div class="col-sm-12">
                
                
                {% for group, descriptions in groups_descriptions %}
                {% with forloop.counter as outerCounter %}
                
                <h3>{{ group }}</h3>
                
                <!-- panel group begin -->
                <div class="panel-group" id="accordion{{ outerCounter }}"
                    role="tablist" aria-multiselectable="true">
                    <!-- panel group end -->
                
                    {% for description, title, longdesc, rating in descriptions %}
                    {% with forloop.counter as innerCounter %}
                    <!--<p class="description-{{ classification }}">{{ description }}</p>-->
                    
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab"
                            id="heading{{ outerCounter }}_{{ innerCounter }}">
                            <h3 class="panel-title">
                                <a role="button" data-toggle="collapse"
                                    data-parent="#accordion{{ outerCounter }}"
                                    href="#collapse{{ outerCounter }}_{{ innerCounter }}"
                                    aria-expanded="true"
                                    aria-controls="collapse{{ outerCounter }}_{{ innerCounter }}">
                                    
                                    <div class="row" style="display: flex; align-items: center;">
                                        <div class="col col-xs-1" style="text-align:center">
                                            
                                {% if rating.rating == 'doubleplusgood' %}
                                    <i class="fa fa-3x fa-star-o color-{{ rating }}"></i>
                                {% elif rating.rating == 'good' %}
                                    <i class="fa fa-3x fa-check-circle color-{{ rating }}"></i>
                                {% elif rating.rating == 'warning' %}
                                    <i class="fa fa-3x fa-minus-circle color-{{ rating }}"></i>
                                {% elif rating.rating == 'bad' %}
                                    <i class="fa fa-3x fa-exclamation-circle color-{{ rating }}"></i>
                                {% elif rating.rating == 'critical' %}
                                    <i class="fa fa-3x fa-times-circle color-{{ rating }}"></i>
                                {% elif rating.rating == 'neutral' %}
                                    <i class="fa fa-3x fa-question-circle color-{{ rating }}"></i>
                                {% else %}
                                    <i class="fa fa-3x fa-circle-o"></i>
                                    <!-- {{ rating.rating }}-->

                                {% endif %}
                                            
                                        </div>
                                        <div class="col col-xs-10">
<!--                                            <span class="label pull-right label-info">
                                                shallow
                                            </span>
                                            <span class="pull-right">&nbsp;</span>
                                            <span class="label pull-right label-danger">
                                                unreliable
                                            </span>
-->
                                            {% if title %}
                                            <p><strong>{{ title }}</strong>
                                            </p>
                                            {% endif %}
                                            <p>
                                            {{ description }}
                                            </p>
                                        </div>
                                        <div class="col col-xs-1 text-center">
                                            <i class="more-less glyphicon
                                            glyphicon-menu-down" style="color:gray"></i>
                                        </div>
                                    </div>
                                    
                                </a>
                            </h3>
                        </div>
                        <div id="collapse{{ outerCounter }}_{{ innerCounter }}"
                             class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="heading{{ outerCounter }}_{{ innerCounter }}">
                            <div class="panel-body">
                                
                                <div class="row" style="display: flex; align-items: center;">
                                    <div class="col col-sm-1" style="text-align:center">
                                    </div>
                                    <div class="col col-sm-11">

                                        {{ longdesc|default:'<p>The explanation for this check is not available yet. Sorry!</p><p><span class="label label-warning">coming soon!</span></p>'|safe }}
                                        
                                        <span class="pull-right">Result wrong?&nbsp;
                                        <a class="btn btn-default btn-sm">
                                                Mark as Bogus
                                        </a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endwith %}
                    {% endfor %}
                  
                </div>
                {% endwith %}
                {% endfor %}
                
                
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 text-center">
        
        <p class="text-center">
            <small>ON PRIVACYSCORE SINCE</small><br>{{ site.created|date:"Y-m-d" }}
        </p>
        
        
        <div class="group-box" style="padding:5px; margin-bottom: 20px; width:70%; margin-left:auto;margin-right:auto;">
        {% if site.has_screenshot %}
        <img src="{% url 'frontend:site_screenshot' site.pk %}" class="screenshot" style="width:100%; " />
        {% endif %}
        </div>
        
        <p>Referenced in 
            {% blocktrans count counter=scan_lists.count %}
                {{ counter }} list:
            {% plural %}
                {{ counter }} lists:
            {% endblocktrans %}
        </p>
        <div style="width:70%; margin-left:auto;margin-right:auto;">
            {% for list in scan_lists %}
            <a style="white-space: normal"
                type="button" class="btn btn-xs btn-default btn-block"
                href="{% url 'frontend:view_scan_list' list.pk %}">
                {{ list.name }}
            </a>
            {% endfor %}
        </div>
        
    </div>

</div>

{% endblock content %}
