{% extends 'frontend/base.html' %}
{% load static %}
{% load i18n %}
{% load result_groups %}

{% block title %}Results for {{ site.url }}{% endblock title %}

{% block additional_js %}
    <script src="{% static 'frontend/js/view_site.js' %}" type="text/javascript"></script>
{% endblock %}

{% block additional_css %}
  <style>
  table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled
 {
    //background-position: left center;
    //padding-left: 20px;
}​
    a {
      color: black;
      text-decoration: none;
    }
    a:hover {
      color: black;
    }

    .description-good {
      color: green;
    }

    .description-neutral {
      color: gray;
    }

    .description-bad, .description-critical {
      color: red;
    }

    .jump-section:before {
      padding-top: 75px;
      margin-top: -75px;
      content: "";
      display: block;
    }
  </style>
{% endblock additional_css %}


{% block content %}

<div class="row" style="margin-top:20px">
    <div class="col-xs-12">
        <div>
            <h2><small>SHOWING RESULTS FOR</small><br>
                {{ site.url }}
            </h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        
        <div style="background-color: #888; width: 100%; padding: 8px 12px 6px 12px; color: #ccc; font-size: 90%">
            <span>SCAN <span style="color:white">#{{ num_scans }}</span>
            </span>
            <span class="pull-right"><span>LAST SCAN</span>&nbsp; <span style="color: white">{{ site.last_scan.start|date:"Y-m-d @ H:i" }} – {{ site.last_scan.end|date:"H:i" }}</span></span></div>
        
        <div class="group-box" style="border: 2px solid #888; background: #eee">
            {% with r=site.evaluated.rating.rating %}
            <div class="text-center" style="font-size: 1em; line-height: 1.2em; font-weight: 700;">
                <div><small>OVERALL RATING</small><br>
                
                    {% if r == 'doubleplusgood' %}
                        <i class="fa fa-5x fa-star-o color-{{ r }}"></i>
                    {% elif r == 'good' %}
                        <i class="fa fa-5x fa-check-circle color-{{ r }}"></i>
                    {% elif r == 'warning' %}
                        <i class="fa fa-5x fa-exclamation-circle color-{{ r }}"></i>
                    {% elif r == 'bad' %}
                        <i class="fa fa-5x fa-exclamation-triangle color-{{ r }}"></i>
                    {% elif r == 'critical' %}
                        <i class="fa fa-5x fa-times-circle color-{{ r }}"></i>
                    {% elif r == 'neutral' %}
                        <i class="fa fa-5x fa-question-circle color-{{ r }}"></i>
                    {% else  %}
                        {{ r }}
                    {% endif %}
                
                </div>
            </div>
            {% endwith %}
            <div class="spacer"></div>

            <div class="row">
                
            {% for group, rating in site.evaluated %}
                <div class="col-xs-6 col-sm-3 text-center" style="font-size: 1em; line-height: 1.2em; font-weight: 700;">
                {% if rating %}
                        {% with group_rating=rating.group_rating.rating %}
                            <a href="#jump-section-{{ forloop.counter }}">
                            {% if rating.devaluating %}
                            <i class="fa fa-3x fa-angle-left"></i>
                            {% endif %}
                            {% if group_rating == 'doubleplusgood' %}
                                <i class="fa fa-3x fa-star-o color-{{ group_rating }}"></i>
                            {% elif group_rating == 'good' %}
                                <i class="fa fa-3x fa-check-circle color-{{ group_rating }}"></i>
                            {% elif group_rating == 'warning' %}
                                <i class="fa fa-3x fa-exclamation-circle color-{{ group_rating }}"></i>
                            {% elif group_rating == 'bad' %}
                                <i class="fa fa-3x fa-exclamation-triangle color-{{ group_rating }}"></i>
                            {% elif group_rating == 'critical' %}
                                <i class="fa fa-3x fa-times-circle color-{{ group_rating }}"></i>
                            {% elif group_rating == 'neutral' %}
                                <i class="fa fa-3x fa-question-circle color-{{ group_rating }}"></i>
                            {% endif %}
                            {% if rating.devaluating %}
                            <i class="fa fa-3x fa-angle-right"></i>
                            {% endif %}
                            <br>{{ group|group_short_name }}
                            </a>
                        {% endwith %}
                {% else %}
                        {% trans 'No rating' %}
                {% endif %}
                </div>
            {% empty %}
                <div class="col text-center" style="font-size: 1em; line-height: 1.2em; font-weight: 700;">
                    {% if res.dns_error %}
                        {% trans 'Invalid URL! The domain name could not be resolved.' %}
                    {% elif scan_running == False %}
                        {% trans 'Our scanners failed to reach the website.<br>Either due to connectivity problems or because our requests are blocked.' %}
                    {% else %}
                        {% trans 'The ratings are not available yet. Please be patient.' %}
                    {% endif %}
                </div>
            {% endfor %}
            </div>
        </div>
        <p class="text-center"><small><strong>Take this with a grain of salt!</strong> Some of our checks may report wrong results. <span class="label label-warning">BETA</span> </small></p>

    </div>
    <div class="col-sm-4">
        
        {% if site.scannable == site.SCAN_OK %}
        <form method="POST" action="{% url 'frontend:scan_site' site.pk %}">
            {% csrf_token %}
        {% endif %}
            <button type="submit" class="btn btn-default btn-primary btn-lg" role="button" id="scan_again" style="width:100%; margin-top:5px; margin-bottom:10px"
            {% if not site.scannable == site.SCAN_OK %}
                disabled
            {% endif %}>
                {% trans 'Re-scan site now' %}
            </button>
        {% if site.scannable == site.SCAN_OK %}
        </form>
        {% endif %}
    
        {% if scan_running %}
            <h3 class="text-center"><small class="text-primary">SCAN IN PROGRESS</small></h3>
            <div class="text-center">
                <a class="btn btn-primary" href="{{ request.path }}">
                    <i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;
                    {% trans 'Refresh Page' %}
                </a>
            </div>
        {% else %}
            {% if site.scannable == site.SCAN_OK %}
                <h3 class="text-center color-primary"><smalL>AVAILABLE FOR RE-SCAN</small></h3>
            {% elif site.scannable == site.SCAN_BLACKLISTED %}
                <h3 class="text-center color-red"><smalL>WEBSITE IS BLACKLISTED</small></h3>
            {% else %}
                <h3 class="text-center color-neutral"><smalL>RE-SCAN NOT AVAILABLE YET</small></h3>
            {% endif %}
        {% endif %}
        
        <div class="spacer"></div>
        <div class="spacer"></div>
        
        <p>
            <a class="btn btn-default"
            href="{% url 'frontend:site_result_json' site.pk %}" style="width:100%;">
                {% trans "Download Results as JSON" %}
            </a>
        </p>
        
        
    </div>
</div>

<div class="spacer"></div>

<div class="row">
    <div class="col-sm-8">
        <div class="row">
            {% if site.scannable == site.SCAN_BLACKLISTED %}
	    <div class="alert alert-danger">{% trans "<b>This site is excluded from further scans.</b> The owner of this website has asked us to not perform further scans. For reasons of transparency we display the results of the last scan before we received the request of the owner. The owner may have implemented changes in the meantime, which are not reflected in the results below." %}
		</div>
            {% endif %}
            
            {% if not scan_running %}
            <div class="col-sm-6">
                <p><small>ANALYZED URL AFTER LOADING:</small><br>
                    <span style="word-wrap: break-word;">
                        {{ res.final_url }}
                    </span></p>
                </p>
            </div>
            <div class="col-sm-6">
                <p><small>ANALYZED MAIL SERVER:</small><br>
                        {{ res.mx_record }}
                </p>
            </div>
            {% endif %}

            <div class="col-sm-12">
                {% if not scan_running %}
                {% if res.dns_error or res.http_error or res.https_error or res.reachable is False or res.reachable is None %}
                <p style="margin-bottom: 0; color: red"><small><b>SCAN ERROR:</b></small>
                    <ul class="errorlist">
                    {% if res.dns_error %}
                        <li>Invalid domain name:
                            No IP addresses could be found for the domain name.</li>
                    {% elif res.reachable is False %}
                        <li>No response from network: The website could not be reached.</li>
                    {% endif %}

                    {% if res.http_error %}
                        <li>Retrieving <b>{{ res.final_url }}</b> resulted in an HTTP error.
                            Either the URL is invalid or the
                            server is misconfigured. Status code: <b>{{ res.http_error }}</b></li>
                    {% endif %}

                    {% if res.https_error %}
                        <li>Retrieving <b>{{ res.final_https_url }}</b> resulted in an HTTP error.
                            The URL may be invalid, the server may
                           be  misconfigured, or the server does not expect HTTPS
                           connections via this URL. Status code: <b>{{ res.https_error }}</b></li>
                    {% endif %}

                    {% if res.reachable is None %}
                        <li>Internal error: The scanner returned no results.</li>
                    {% endif %}
                    </ul>
                </p>
                {% endif %}
                {% endif %}
            </div>

			<div class="col-sm-12">
	            <p id="disclaimer-short"><strong>{% trans "What is this?" %}</strong> {% trans "This page shows the result of a machine-generated analysis of a specific website, which was commissioned by a PrivacyScore user. During the analysis it was checked whether the privacy of the visitors is protected on a technical level as well as possible when visiting the given internet addresses, and whether the operator uses common security mechanisms on the website. This can indicate how seriously an operator takes data protection. However, it is not possible to determine the actual security level achieved." %} &nbsp;<a class="label label-primary" id="disclaimer-link">{% trans "More details please!" %}</a></p>


	            <div style="display:none" id="disclaimer">
	                {% blocktrans %}
                        <p><strong>How are the results presented?</strong> Our analysis focuses on the following aspects: whether tracking services are used ("NoTrack" category), whether selected attacks are prevented, the quality of encryption during data transmission to the website (EncWeb), and the quality when sending e-mails to an existing e-mail server (EncMail).</p>

	                <p><strong>What exactly is checked and what do the results mean?</strong> We check the internet addresses with several techniques, which we have described in detail in a <a href="https://arxiv.org/abs/1705.05139">research paper</a>.</p>

	                <p><strong>What is the purpose of PrivacyScore?</strong> With PrivacyScore we make websites publicly comparable in terms of selected properties. As scientists, we are interested in how users and operators deal with this form of transparency. Among other things, this raises the question of whether website operators have an additional incentive to improve their websites.</p>

	                <p><strong>What can be concluded from the results, what not?</strong></p>

	                <p><strong>No statement on necessity.</strong> The fact that a web page fails at a specific does not automatically mean that sensitive pieces data are at risk. Some security mechanisms are only necessary to protect against strong attacks (e.g., by governments).</p>

	                <p><strong>Limited expressiveness.</strong> The results cover only security mechanisms that can be observed from outside when visiting the specified internet addresses. It is quite possible that an operator uses additional internal protection mechanisms and therefore has decided to leave out some externally visible mechanisms. Furthermore, it is possible that additional security mechanisms are used on individual pages (e.g., for the transmission of passwords). However, such variations are not taken into account in the analysis. Therefore, one cannot conclude from the failure of individual checks that a provider does not handle personal data with sufficient care. On the other hand, however, it is also possible that a website has serious security holes, although it achieves a good result on this page.</p>
	                {% endblocktrans %}
	            </div>
			</div>

			<div class="col-sm-12">
                
                
                {% for group, descriptions in groups_descriptions %}
                {% with forloop.counter as outerCounter %}
                
                <div class="spacer"></div>
                <h3 class="jump-section" id="jump-section-{{ outerCounter }}">{{ group }}</h3>
                
                <!-- panel group begin -->
                <div class="panel-group" id="accordion{{ outerCounter }}"
                    role="tablist" aria-multiselectable="true">
                    <!-- panel group end -->
                
                    {% for description, title, longdesc, labels, details_list, rating in descriptions %}
                    {% with forloop.counter as innerCounter %}
                    <!--<p class="description-{{ classification }}">{{ description }}</p>-->
                    
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab"
                            id="heading{{ outerCounter }}_{{ innerCounter }}">
                            <h3 class="panel-title">
                                <a role="button" data-toggle="collapse"
                                    data-parent="#accordion{{ outerCounter }}"
                                    href="#collapse{{ outerCounter }}_{{ innerCounter }}"
                                    aria-expanded="true"
                                    aria-controls="collapse{{ outerCounter }}_{{ innerCounter }}">
                                    
                                    <div class="row" style="display: flex; align-items: center;">
                                        <div class="col col-xs-1" style="text-align:center">
                                            
                                {% if rating.rating == 'doubleplusgood' %}
                                    <i class="fa fa-3x fa-star-o color-{{ rating }}"></i>
                                {% elif rating.rating == 'good' %}
                                    <i class="fa fa-3x fa-check-circle color-{{ rating }}"></i>
                                {% elif rating.rating == 'warning' %}
                                    <i class="fa fa-3x fa-exclamation-circle color-{{ rating }}"></i>
                                {% elif rating.rating == 'bad' %}
                                {% comment %}
                                     Making an exception and showing the circle (instead 
                                     of exclamationamrk) here. This is intentional so that it
                                     matches the group ratings above. Exclamation mark is only
                                     used to convey "total failure in a category".
                                {% endcomment %}
                                    <i class="fa fa-3x fa-exclamation-circle color-{{ rating }}"></i>
                                {% elif rating.rating == 'critical' %}
                                    <i class="fa fa-3x fa-times-circle color-{{ rating }}"></i>
                                {% elif rating.rating == 'neutral' %}
                                    <i class="fa fa-3x fa-question-circle color-{{ rating }}"></i>
                                {% else %}
                                    <i class="fa fa-3x fa-circle-o"></i>
                                    <!-- {{ rating.rating }}-->

                                {% endif %}
                                            
                                        </div>
                                        <div class="col col-xs-10">
                                            {% for label in labels %}
                                            <span class="label pull-right label-info label-color-{{ label }}">
                                                {{ label }}
                                            </span>
                                            <span class="pull-right">&nbsp;</span>
                                            {% endfor %}
                                            
                                            {% if title %}
                                            <p><strong>{{ title }}</strong>
                                            </p>
                                            {% endif %}
                                            <div>
                                            {{ description }}
                                            </div>
                                        </div>
                                        <div class="col col-xs-1 text-center">
                                            <i class="more-less glyphicon
                                            glyphicon-menu-down" style="color:gray"></i>
                                        </div>
                                    </div>
                                    
                                </a>
                            </h3>
                        </div>
                        <div id="collapse{{ outerCounter }}_{{ innerCounter }}"
                             class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="heading{{ outerCounter }}_{{ innerCounter }}">
                            <div class="panel-body">
                                
                                <div class="row" style="display: flex; align-items: center;">
                                    <div class="col col-sm-1" style="text-align:center">
                                    </div>
                                    <div class="col col-sm-11">

                                        {{ longdesc|default:'<p>The explanation for this check is not available yet. Sorry!</p><p><span class="label label-warning">coming soon!</span></p>'|safe }}
                                        
                                        <span class="pull-right">Result wrong?&nbsp;
                                        <a class="btn btn-default btn-sm" href="mailto:privacyscore@mailhost.informatik.uni-hamburg.de?subject=ERROR-REPORT&amp;body={{ "I want to report an error about the following scan and check: "|urlencode}}{{ site.url|urlencode }}{{ site.last_scan.end|date:" [Y-m-d H:i:s]"|urlencode }}{{ " - "|urlencode }}{{ description|urlencode }}">
                                                report error
                                        </a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if details_list %}
                        <div class="spacer"></div>
                        <div>
                            <div class="row">
                                <div class="col col-sm-1">
                                </div>
                                <div class="col col-sm-10">
                                    <div style="margin:0; margin-bottom: 0.5em; font-size: 80%;">
                                    {% for elem in details_list %}
                                        <div class="details-list-label">
                                            {{ elem.0 }}
                                        </div>
                                    {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    {% endwith %}
                    {% endfor %}
                  
                </div>
                {% endwith %}
                <div class="spacer"></div>
                {% endfor %}
                
                
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 text-center">
        
        <p class="text-center">
            <small>ON PRIVACYSCORE SINCE</small><br>{{ site.created|date:"Y-m-d" }}
        </p>
        
        
        <div class="group-box" style="padding:5px; margin-bottom: 20px; width:70%; margin-left:auto;margin-right:auto;">
        {% if site.has_screenshot %}
        <img src="{% url 'frontend:site_screenshot' site.pk %}" class="screenshot" style="width:100%; " />
        {% else %}
        <div style="padding: 4em; color: gray"><em>no screenshot available at the moment</em></div>
        {% endif %}
        </div>
        
        <p>REFERENCED IN 
            {% blocktrans count counter=scan_lists.count %}
                {{ counter }} LIST
            {% plural %}
                {{ counter }} LISTS
            {% endblocktrans %}
        </p>
        <div style="width:70%; margin-left:auto;margin-right:auto;">
            {% for list in scan_lists %}
            <a style="white-space: normal"
                type="button" class="btn btn-xs btn-default btn-block"
                href="{% url 'frontend:view_scan_list' list.pk %}">
                {{ list.name }}
            </a>
            {% endfor %}
        </div>
        
    </div>

</div>

{% endblock content %}
