{% extends 'frontend/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Results for {{ site.url }}{% endblock title %}

{% block additional_js %}
  <script src="{% static 'frontend/js/buttons.colVis.js' %}"></script>
  <script src="{% static 'frontend/js/buttons.html5.js' %}"></script>
  <script src="{% static 'frontend/js/pdfmake.min.js' %}"></script>
  <script src="{% static 'frontend/js/jszip.min.js' %}"></script>
  <script src="{% static 'frontend/js/vfs_fonts.js' %}"></script>
  <script src="{% static 'frontend/js/d3.v4.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'frontend/js/diagram.js' %}" type="text/javascript"></script>
{% endblock additional_js %}

{% block additional_css %}
  <style>
  table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled
 {
    //background-position: left center;
    //padding-left: 20px;
}​
    a {
      color: black;
      text-decoration: none;
    }
    a:hover {
      color: black;
    }

    .description-good {
      color: green;
    }

    .description-neutral {
      color: gray;
    }

    .description-bad, .description-critical {
      color: red;
    }
  </style>
{% endblock additional_css %}


{% block content %}

<div class="pull-right" style="margin-top:40px">
    <form method="POST" action="{% url 'frontend:scan_site' site.pk %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-default btn-primary btn-lg" role="button" id="scan_again" style="width:320px;">
            {% trans 'Re-scan this site now' %}
        </button>
    </form>
      
    <div class="spacer"></div>

    {% if site.has_screenshot %}
    <div><img src="{% url 'frontend:site_screenshot' site.pk %}" class="screenshot" style="width:320px" /></div>
    {% endif %}
  
    <div class="spacer"></div>
    
    <p>
        {% if site.last_scan__start and site.last_scan__end_or_null is None %}
            <strong>This site is currently scheduled for scanning.</strong>
        {% else %}
            There are no scans scheduled for this site.
        {% endif %}
    </p>

    <p>This site has been added at {{ site.created|date:"Y-m-d @ H:i:s" }}
    </p>
    
    <p>This site has been scanned
        {% blocktrans count counter=num_scans %}
            {{ counter }} time
        {% plural %}
            {{ counter }} times
        {% endblocktrans %}
    </p>

    <p>
        {% trans 'Last Scan:' %}
        {% if site.last_scan_datetime %}
        {{ site.last_scan_datetime|date:"Y-m-d @ H:i:s" }}
        {% else %}
        {% trans 'never' %}
        {% endif %}
    </p>
    
    <p>Last Scan Start Time {{ site.last_scan.start|date:"Y-m-d @ H:i:s" }}</p>
    <p>Last Scan End Time   {{ site.last_scan.end|date:"Y-m-d @ H:i:s" }}</p>
  
    <div class="spacer"></div>
    
    <p>The site is part of the following
        {% blocktrans count counter=scan_lists.count %}
            {{ counter }} list
        {% plural %}
            {{ counter }} lists
        {% endblocktrans %}</p>
        {% for list in scan_lists %}
        <a style="width: 320; white-space: normal"
            type="button" class="btn btn-sm btn-default btn-block"
            href="{% url 'frontend:view_scan_list' list.pk %}">
            {{ list.name }}
        </a>
        {% endfor %}
    

</div>



  <h1 style="margin-top:40px">
    {{ site.url }}
  </h1>

  

  {% for group, descriptions in groups_descriptions %}
    <h3>{{ group }}</h3>

    {% for description, classification in descriptions %}
      <p class="description-{{ classification }}">{{ description }}</p>
    {% endfor %}
  {% endfor %}

  


{% endblock content %}
