{% extends 'frontend/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{{ scan_list.name }}{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h2>
                {{ scan_list.name }}
            </h2>

            <p>
                <i class="fa fa-tags"></i> <strong>Tags: </strong>
                {% for tag in scan_list.tags.all %}
                    <span class="label label-default">{{ tag }}</span>
                {% endfor %}
            </p>
            
            {{ scan_list.description|linebreaks }}
            
            <p>
                <i class="fa fa-user"></i>
                <strong>{% trans "Author" %}:</strong> {{ scan_list.pseudonym }}
            </p>
            
            <div class="spacer"></div>
            
            <h3>{% trans "Result overview" %}</h3>
            <ul class="list-unstyled">
                <li>
                    <i class="fa fa-info-circle"></i>
                    {% blocktrans count counter=sites_count %}
                        {{ counter }} website
                    {% plural %}
                        {{ counter }} websites
                    {% endblocktrans %}

                    {% blocktrans count counter=sites_with_failures_count %}
                        (with {{ counter }} scan error)
                    {% plural %}
                        (with {{ counter }} scan errors)
                    {% endblocktrans %}
                </li>

                <li class="color-good">
                    <i class="fa fa-check-circle color-good"></i>
                    {{ ratings_count.good }} passed all checks
                </li>
                <li class="color-warning">
                    <i class="fa fa-minus-circle color-warning"></i>
                    {{ ratings_count.warning }} with one or more issues
                </li>
                <li class="color-bad">
                    <i class="fa fa-times-circle color-bad"></i>
                    {{ ratings_count.bad }} with critical issues
                </li>
                <li class="color-neutral">
                    <i class="fa fa-question-circle color-neutral"></i>
                    {{ ratings_count.neutral }} could not be judged
                </li>
            </ul>
        </div>
        <div class="col-md-4">

            {% if scan_list.running_scans__count > 0 %}
            <h2 class="text-center">Scan Running</h2>
            <p class="text-center">
            {% blocktrans count counter=scan_list.running_scans__count %}
                {{ counter }} site
            {% plural %}
                {{ counter }} sites
            {% endblocktrans %}
            of this list are being scanned at the moment
            </p>
            {% else %}
            <h2 class="text-center color-neutral">No Scan Running</h2>
            {% endif %}
            
            <div class="spacer"></div>
            
            <div class="improvements">
                <h5>&mdash; IMPROVEMENTS UNDERWAY &mdash; </h5>
                <hr>
                <p><em>
                    In future you will be able to reorder the ranking categories to
                    match your personal importance rating. In addition the table
                    can by sorted and grouped by attribute.
                </em>
                <p><em>Estimated release: August 2017.</em></p>
            </div>
        </div>
    </div>

    {% if group_attr %}
    <h3>{% blocktrans %}Ranking by "{{ group_attr }}"{% endblocktrans %}</h3>
    {% else %}
    <h3>{% trans "Ranking" %}</h3>
    {% endif %}


    {% if groups %}
        {% for group in groups %}
        <h4>{{ group.name }}</h4>
        {% include "frontend/ranking_list.html" with site_list=site_list sites=group.sites %}
        {% endfor %}
    {% else %}
        {% include "frontend/ranking_list.html" with site_list=site_list sites=sites %}
    {% endif %}
{% endblock content %}
