{% extends 'frontend/base.html' %}
{% load static %}
{% load scan_list %}
{% load i18n %}

{% block title %}PrivacyScore{% endblock title %}

{% block additional_js %}
  <script src="{% static 'frontend/js/buttons.colVis.js' %}"></script>
  <script src="{% static 'frontend/js/buttons.html5.js' %}"></script>
  <script src="{% static 'frontend/js/pdfmake.min.js' %}"></script>
  <script src="{% static 'frontend/js/jszip.min.js' %}"></script>
  <script src="{% static 'frontend/js/vfs_fonts.js' %}"></script>
  <script src="{% static 'frontend/js/d3.v4.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'frontend/js/diagram.js' %}" type="text/javascript"></script>
{% endblock additional_js %}

{% block additional_css %}
  <style>
  table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled
 {
    //background-position: left center;
    //padding-left: 20px;
}​
    a {
      color: black;
      text-decoration: none;
    }
    a:hover {
      color: black;
    }
  </style>
{% endblock additional_css %}


{% block content %}
    <h1>
      {{ scan_list.name }}
    </h1>


    <div class="row">
      <div class="col-md-9">
        <div class="box">
          <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="{% trans 'Description' %}" id="tooltipDescription"></span>
          <span id="description">{{ scan_list.description }}</span>
        </div>
        <div class="box">
          <span class="glyphicon glyphicon-tags" data-toggle="tooltip" title="{% trans 'Tags' %}" id="tooltipTags"></span>
          <span id="tags">{{ scan_list.tags_as_str }}</span>
        </div>
        <div class="box">
          <span class="glyphicon glyphicon-time" data-toggle="tooltip" title="Zeit" id="tooltipTime">{{ scan_list.last_scan.start|date:"j.n.Y H:i" }}</span>
          <span id="startdate"></span> <i class="fa fa-long-arrow-right"></i>
          <span id="enddate">{{ scan_list.last_scan.end|date:"j.n.Y H:i" }}</span>
        </div>
        <div class="box">
          <i class="fa fa-hand-o-right" data-toggle="tooltip" id="popularThirdParties"></i>
          <a id="popularThirdPartiesButton" href="TODO" style="color:black;">

            <span id="popularThirdPartiesDiv">Häufige Third Parties</span>
          </a>
        </div>
        <div class="well-sm result">
           <div class="row result-body" id="dashboard" style="display:none; padding-top:15px;">
            <div class="col-md-3">
              <div class="result-value"></div>
              <div id="dashboardScore">Durchschnittliche Bewertung</div>
              </div>
              <div class="col-md-3">
              <div class="result-value"></div>
              <div id="dashboardHTTPS">der Seiten bieten HTTPS als Standard an</div>
              </div>
              <div class="col-md-3">
              <div class="result-value"></div>
              <div id="dashboardCookies">Durchschnittliche Anzahl an Cookies</div>
              </div>
              <div class="col-md-3">
              <div class="result-value"></div>
              <div id="dashboardThirdParties">Durchschnittliche Anzahl an Third Parties</div>

              </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">


        <a class="btn btn-default" onclick="deleteList()" role="button" id="delete_list" style="width:100%; display:none;">Liste löschen</a>
        <a class="btn btn-default" onclick="scanAgain()" role="button" id="scan_again" style="width:100%;">Nochmal scannen</a>
        <a href="{% url 'frontend:scan_list' %}" class="btn btn-default" role="button" id="new_list" style="width:100%;">Neue Liste aus dieser erstellen</a>

         <div class="form-group">
          <label id="labelShowScan">Scan anzeigen</label>
          <select onchange="location = this.options[this.selectedIndex].value;" class="form-control" id="oldNewScans">
          </select>

        <div id="compareDiv">
        <input type="checkbox" id="compareCheckbox" value="" onclick="toggleCompare();">
          <label id="labelCompareScan">Vergleichs-Scan</label>
          <select onchange="dropdownAction()" class="form-control" id="compareScans">
          </select>
        </div>
        </div>
      </div>
    </div>

  <table class="table table-striped table-bordered table-hover">
    <tr>
      <th>{% trans 'URL' %}</th>
      {% for column in scan_list.ordered_columns %}
        <th>{{ column.name }}</th>
      {% endfor %}
    </tr>

    {% for site in sites %}
      <tr>
        <td>
          <a href="{% url 'frontend:view_site' site.pk %}">
            {{ site.url }}
          </a>
        </td>
        {% for column_value in site|ordered_site_columns:scan_list %}
          <th>{{ column_value.value }}</th>
        {% endfor %}
      </tr>
    {% endfor %}
  </table>

{% endblock content %}
