{% extends 'frontend/base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}{{ scan_list.name }}{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h2>
                {{ scan_list.name }}
            </h2>

            <p>
                <i class="fa fa-tags"></i> <strong>Tags: </strong>
                {% for tag in scan_list.tags.all %}
                    <span class="label label-default">{{ tag }}</span>
                {% endfor %}
            </p>
            
            {{ scan_list.description|linebreaks }}
            
            <p>
                <i class="fa fa-user"></i>
                <strong>{% trans "Author" %}:</strong> {{ scan_list.pseudonym }}
            </p>

            <p><a id="configure-link" href="#">&raquo; {% trans "Configure ranking" %}</a></p>

            <div id="configuration">
                <h3>{% trans "Configuration" %}</h3>
                <form method="get">
                    <input type="hidden" name="configure" value="">
                    <div class="form-group">
                        {{ config_form.categories.label_tag }}
                        {% render_field config_form.categories class+="form-control" %}
                    </div>
                    <div class="form-group">
                        {{ config_form.sort_by.label_tag }}
                        {% render_field config_form.sort_by class+="form-control" %}
                    </div>
                    <div class="form-group">
                        {{ config_form.group_by.label_tag }}
                        {% render_field config_form.group_by class+="form-control" %}
                    </div>
                    <p><button class="btn btn-primary">{% trans "Configure" %}</button></p>
                </form>
            </div>

            <div class="spacer"></div>
            
            <h3>{% trans "Result overview" %}</h3>
            {% include 'frontend/ranking_summary.html' with sites_count=sites_count sites_failures_count=sites_failures_count ratings_count=ratings_count %}
        </div>
        <div class="col-md-4">
            
            {% if scan_list.running_scans__count == 0 %}
            <form method="POST" action="{% url 'frontend:scan_scan_list' scan_list.pk %}">
                {% csrf_token %}
            {% endif %}
                <button type="submit" class="btn btn-default btn-primary btn-lg" role="button" id="scan_again" style="width:100%; margin-top:40px"
                {% if scan_list.running_scans__count > 0 %}
                disabled="disabled"
                {% endif %}>
                    Re-scan this site now
                </button>
                {% if scan_list.running_scans__count > 0 %}
                    <div class="text-center "><small>{% trans '(not available during a scan)' %}</small></div>
                {% endif %}

            {% if scan_list.running_scans__count == 0 %}
            </form>
            {% endif %}
            
            {% if scan_list.running_scans__count > 0 %}
            <h3 class="text-center">Scan Running</h3>
            <p class="text-center">
            {% blocktrans count counter=scan_list.running_scans__count %}
                {{ counter }} site of this list is being scanned at the moment
            {% plural %}
                {{ counter }} sites of this list are being scanned at the moment
            {% endblocktrans %}
            </p>
            {% else %}
            <h3 class="text-center color-neutral">No Scan Running</h3>
            {% endif %}
            
            <div class="spacer"></div>
            
            <div class="improvements">
                <h5>&mdash; IMPROVEMENTS UNDERWAY &mdash; </h5>
                <hr>
                <p><em>
                    In the future we will offer more flexible tools that allow you to
                    change the ranking according to your personal preferences.
                </em>
                <p><em>Estimated release: August 2017.</em></p>
            </div>
        </div>
    </div>

    {% if group_attr %}
    <h3>{% blocktrans %}Ranking by "{{ group_attr }}"{% endblocktrans %}</h3>
    {% else %}
    <h3>{% trans "Ranking" %}</h3>
    {% endif %}


    {% if groups %}
        {% for group in groups %}
        <h4>{{ group.name }}</h4>
        {% include 'frontend/ranking_summary.html' with sites_count=group.sites_count sites_failures_count=group.sites_failures_count ratings_count=group.ratings_count %}
        {% include "frontend/ranking_list.html" with site_list=site_list sites=group.sites %}
        {% endfor %}
    {% else %}
        {% include "frontend/ranking_list.html" with site_list=site_list sites=sites %}
    {% endif %}
{% endblock content %}
